.input,
.textarea
  background-color: #fff
  border: 1px solid $color_grey
  border-radius: 0
  color: $color_grey
  font-size: 13px
  font-weight: 500
  line-height: 16px
  transition: border-color 0.3s, color 0.3s
  text-transform: uppercase
  width: 100%

  &:focus
    border-color: $color_darkblue
    color: $color_darkblue

  &.error
    border-color: $color_red

    &:focus
      border-color: $color_red

  &:disabled,
  &.disabled
    background-color: rgba($color_grey, 0.5)

  &::-webkit-input-placeholder
    color: $color_grey
    opacity: 1

  &::-moz-placeholder
    color: $color_grey
    opacity: 1

  &:-ms-input-placeholder
    color: $color_grey
    opacity: 1

.input
  height: 54px
  padding: 19px 25px 18px

.textarea
  height: 100px
  padding: 19px 25px 18px
  resize: none

input,
textarea
  &:focus
    outline: none
