html
  box-sizing: border-box
  font-family: sans-serif
  height: 100%

*,
*::after,
*::before
  box-sizing: inherit

body
  display: flex
  flex-direction: column
  height: 100%
  min-height: 100%
  min-width: 320px
  overflow-x: hidden

  &.popover-open
    overflow: hidden

  &.nobanner-page
    .page-content
      padding-top: 135px

      @media(min-width: 1024px)
        padding-top: 175px

  &.main-page
    .page-content
      position: relative

.main-page
  &__section
    position: relative
    overflow: hidden

.section_1
  margin-top: -50px
  padding-bottom: 100px

  @media(min-width: 1024px)
    margin-top: -90px

  @media(min-width: 1900px)
    padding-bottom: 200px

  .categories-block
    margin-bottom: 0

  .categories-block__container
    background-color: #fff
    padding-top: 50px

    @media(min-width: 1024px)
      padding-top: 90px

.section_3
  margin-top: -70px
  overflow: hidden
  padding-top: 70px
  padding-bottom: 35px

  @media(min-width: 1350px)
    margin-top: -65px
    padding-top: 65px
    padding-bottom: 65px

  .blue-block
    margin-bottom: 0

  .main-page__section
    overflow: visible

.section_4
  padding-top: 50px
  padding-bottom: 50px

  @media(min-width: 768px)
    padding-bottom: 80px

  @media(min-width: 1350px)
    padding-top: 95px

  @media(min-width: 1900px)
    padding-top: 195px
    padding-bottom: 150px

  .delimiter
    margin-bottom: 0

.section_6
  .delimiter2
    @media(min-width: 768px)
      margin-bottom: 80px

.section_7
  padding-bottom: 50px
  margin-bottom: -50px

  @media(min-width: 768px)
    padding-bottom: 80px
    margin-bottom: -80px

  @media(min-width: 1350px)
    margin-bottom: -150px

  @media(min-width: 1900px)
    padding-bottom: 150px

  .delimiter2
    margin-bottom: 0

.page-content
  flex: 1 0 auto
  overflow-x: hidden
  padding-bottom: 90px

  @media(min-width: 1024px)
    padding-bottom: 170px

  &.shaded
    position: relative
    z-index: 1

    &::before
      background-color: rgba($color_darkblue, 0.5)
      bottom: 0
      content: ''
      left: 0
      position: fixed
      right: 0
      top: 0
      z-index: 10
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

.container
  margin-left: auto
  margin-right: auto
  max-width: 1370px
  padding-left: 30px
  padding-right: 30px

  @media(min-width: 1900px)
    max-width: 1640px

.delimiter
  background-color: $color_lightblue
  height: 70px
  margin-left: auto
  margin-right: auto
  margin-bottom: 50px
  width: 1px

  @media(min-width: 768px)
    margin-bottom: 80px

  @media(min-width: 1024px)
    height: 1px
    width: 150px

  @media(min-width: 1900px)
    margin-bottom: 150px

.delimiter2
  background-color: $color_lightblue
  height: 70px
  margin-left: auto
  margin-right: auto
  margin-top: 50px
  margin-bottom: 50px
  width: 1px

  @media(min-width: 768px)
    margin-bottom: 80px
    margin-top: 80px

  @media(min-width: 1350px)
    height: 110px

  @media(min-width: 1900px)
    margin-bottom: 100px
    margin-top: 100px

.delimiter3
  background-color: $color_grey
  display: none
  height: 70px
  margin-left: auto
  margin-right: auto
  width: 1px

  @media(min-width: 1024px)
    display: block
    margin-top: 80px
    margin-bottom: 80px

  @media(min-width: 1350px)
    margin-top: 120px
    margin-bottom: 120px

  @media(min-width: 1900px)
    height: 110px
    margin-top: 160px
    margin-bottom: 160px

.delimiter4
  background-color: $color_grey
  display: none
  height: 1px
  margin-left: auto
  margin-right: auto
  width: 70px

  @media(min-width: 1024px)
    display: block
    margin-top: 80px
    margin-bottom: 80px

  @media(min-width: 1350px)
    margin-top: 120px
    margin-bottom: 120px

  @media(min-width: 1900px)
    margin-top: 160px
    margin-bottom: 160px
    width: 110px

.stripes
  display: none

  @media(min-width: 1024px)
    display: block
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%
    z-index: -1

  div
    @media(min-width: 1024px)
      background-color: rgba($color_gold, 0.15)
      height: 100%
      position: absolute
      top: 0
      transform: translateX(-50%)
      width: 1px

    &:nth-child(1)
      left: 8.958333333333333%

    &:nth-child(2)
      left: 29.42708333333333%

    &:nth-child(3)
      left: 50%

    &:nth-child(4)
      left: auto
      right: 29.42708333333333%

    &:nth-child(5)
      left: auto
      right: 8.958333333333333%

.grey-bg
  padding-bottom: 50px

  @media(min-width: 768px)
    padding-bottom: 80px

  @media(min-width: 1024px)
    background-color: #F8F8F8
    background-image: url('../images/backgrounds/grey-bg.jpg')
    background-repeat: no-repeat
    background-size: 100% auto
    background-position: 50% 0
    position: relative

  @media(min-width: 1350px)
    padding-bottom: 150px

  & > *:not(.stripes)
    position: relative
    z-index: 1

  .stripes
    z-index: 0

  .delimiter2
    &:last-child
      margin-bottom: 0

.blue-block
  align-items: center
  background-image: url("data:image/svg+xml,%3Csvg width='481' height='12' viewBox='0 0 481 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M64.1235 0.822513L96.1065 11.3442L128.09 0.822513L160.087 11.3442L192.07 0.822513L224.053 11.3442L256.036 0.822513L288.019 11.3442L320.002 0.822513L351.985 11.3442L383.968 0.822513L415.951 11.3442L447.934 0.822513L479.788 11.299L480.06 10.7684L447.934 0.212891L415.951 10.7232L383.968 0.212891L351.985 10.7232L320.002 0.212891L288.019 10.7232L256.036 0.212891L224.053 10.7232L192.07 0.212891L160.087 10.7232L128.09 0.212891L96.1065 10.7232L64.1235 0.212891L32.1261 10.7232L0.271892 0.258048L0 0.777356L32.1261 11.3442L64.1235 0.822513Z' fill='%236F7D9D' fill-opacity='0.1'/%3E%3C/svg%3E%0A")
  background-position: 0 0
  background-repeat: repeat
  background-color: #001945
  color: $color_grey
  display: flex
  font-family: $secondary_font
  font-size: 24px
  justify-content: center
  margin-bottom: 100px
  padding-top: 110px
  padding-bottom: 110px
  position: relative
  z-index: 1

  @media(min-width: 1350px)
    font-size: 36px
    line-height: 1.5

  @media(min-width: 1900px)
    font-size: 41px
    line-height: 1.5
    min-height: 100vh
    margin-bottom: 260px

  span
    color: #fff

  &::before,
  &::after
    background-color: $color_lightblue
    content: ''
    height: 70px
    left: 50%
    transform: translateY(-50%)
    position: absolute
    width: 1px

    @media(min-width: 1350px)
      height: 130px

  &::before
    top: 0

  &::after
    bottom: 0
    top: auto
    transform: translateY(50%)

  &__container
    max-width: 830px
    width: 100%

    @media(min-width: 1350px)
      max-width: 1000px

    @media(min-width: 1900px)
      max-width: 1360px

.fw
  &:not(:last-child)
    margin-bottom: 50px

    @media(min-width: 768px)
      margin-bottom: 80px

    @media(min-width: 1350px)
      margin-bottom: 150px

    @media(min-width: 1900px)
      margin-bottom: 200px

  & + .delimiter3
    @media(min-width: 1350px)
      margin-top: -70px

  &__container
    @media(min-width: 768px)
      align-items: center
      display: flex

    &--align_start
      @media(min-width: 768px)
        align-items: flex-start

      .fw__block--center
        @media(min-width: 768px)
          justify-content: flex-start

    &--delimiter
      @media(min-width: 1024px)
        position: relative

      &::after
        @media(min-width: 1024px)
          background-color: $color_grey
          content: ''
          height: 110px
          left: 50%
          position: absolute
          top: 0
          width: 1px

  &__block
    @media(min-width: 768px)
      width: 50%

    &--center
      padding: 30px

      @media(min-width: 768px)
        align-items: center
        display: flex
        flex-direction: column
        justify-content: center
        padding-top: 0
        padding-bottom: 0

      @media(min-width: 1350px)
        padding-left: 60px
        padding-right: 60px

    &--order_1
      @media(min-width: 768px)
        order: 1

    &--order_2
      @media(min-width: 768px)
        order: 2

    &--fw_img
      picture,
      img
        display: block
        width: 100%

    &--fw_img.fw__block--center
      padding-top: 0
      padding-bottom: 0

      @media(max-width: 767px)
        padding: 0

    .btn
      max-width: 310px
      width: 100%

.cols-3
  &:not(:last-child)
    @media(min-width: 768px)
      margin-bottom: 80px

    @media(min-width: 1350px)
      margin-bottom: 150px

    @media(min-width: 1900px)
      margin-bottom: 175px

  &__container
    @media(min-width: 1900px)
      max-width: 1860px

    &:not(:last-child)
      @media(min-width: 768px)
        margin-bottom: 80px

      @media(min-width: 1350px)
        margin-bottom: 150px

      @media(min-width: 1900px)
        margin-bottom: 175px

  &__cols
    @media(min-width: 768px)
      display: flex

  &__col
    display: block
    font-size: 14px
    font-weight: 700
    letter-spacing: 2px
    margin-bottom: 75px
    text-transform: uppercase
    text-align: center

    @media(min-width: 768px)
      margin-bottom: 0
      padding-left: 15px
      padding-right: 15px
      width: 33.33333%

    @media(min-width: 1024px)
      font-size: 16px

    @media(min-width: 1350px)
      font-size: 18px
      letter-spacing: 3px

    img
      margin-bottom: 40px

  .title-1
    @media(min-width: 1350px)
      margin-bottom: 150px

    @media(min-width: 1900px)
      margin-bottom: 175px

.video
  display: block
  overflow: hidden
  position: relative
  z-index: 1

  &:hover,
  &:focus
    img
      transform: scale(1.02)

  &::before
    background-color: rgba($color_darkblue, 0.6)
    content: ''
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%
    z-index: 1

  &::after
    background-image: url("data:image/svg+xml,%3Csvg width='137' height='141' viewBox='0 0 137 141' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M135.029 70.5311C135.029 107.58 105.025 137.613 68.0147 137.613C31.0044 137.613 1 107.58 1 70.5311C1 33.4819 31.0044 3.44922 68.0147 3.44922C105.025 3.44922 135.029 33.4819 135.029 70.5311Z' stroke='%23CDBC9D' stroke-width='2'/%3E%3Ccircle cx='68' cy='4' r='3.5' transform='rotate(90 68 4)' fill='%236B9CFD' stroke='%236B9CFD'/%3E%3Ccircle cx='68' cy='137' r='3.5' transform='rotate(90 68 137)' fill='%236B9CFD' stroke='%236B9CFD'/%3E%3Cpath d='M78.3318 70.2322L65.9266 60.9549L65.9266 79.9363L78.3318 70.2322Z' fill='%236B9CFD' stroke='%236B9CFD' stroke-linecap='round'/%3E%3C/svg%3E%0A")
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: auto 100%
    content: ''
    height: 86px
    left: 50%
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)
    width: 86px
    z-index: 2

    @media(min-width: 1350px)
      height: 140px
      width: 140px

  &--small
    &::after
      @media(min-width: 1350px)
        height: 60px
        width: 60px

  picture,
  img
    display: block
    width: 100%

  img
    transform: scale(1)
    transition: transform 0.3s
