body
  color: $color_darkblue
  font-family: 'Lato', Arial, sans-serif
  font-size: 14px
  font-weight: 300
  line-height: 1.25

  @media(min-width: 1350px)
    font-size: 16px

  @media(min-width: 1900px)
    font-size: 24px

a
  color: $color_darkblue
  transition: color 0.3s

  &:hover,
  &:focus
    color: $color_lightblue
    outline: none

  &:active
    color: $color_grey

*
  &:focus
    outline: none !important

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6
  font-weight: 700
  margin-top: 0
  margin-bottom: 0

h1,.h1
  font-size: 30px
  line-height: 1.5
  margin-bottom: 24px

  @media(min-width: 1024px)
    font-size: 36px
    margin-bottom: 36px

  @media(min-width: 1900px)
    font-size: 40px
    margin-bottom: 56px

h2,.h2
  font-family: $secondary_font
  font-size: 30px
  line-height: 1.33333
  letter-spacing: 2px
  margin-bottom: 20px

  @media(min-width: 1350px)
    font-size: 36px
    line-height: 1.375
    margin-bottom: 30px

  @media(min-width: 1900px)
    font-size: 48px
    letter-spacing: 4px
    margin-bottom: 40px

h3,.h3
  font-size: 18px
  line-height: 1.2
  letter-spacing: 3px
  margin-bottom: 25px

  @media(min-width: 1900px)
    font-size: 26px
    letter-spacing: 5px
    margin-bottom: 30px

h4,.h4
  font-size: 18px
  line-height: 1.2
  margin-bottom: 25px

  @media(min-width: 1900px)
    margin-bottom: 40px

h5,.h5,
h6,.h6,
p,
ul,
ol,
table,
.table-responsive,
.responsive-table
  margin-top: 0
  margin-bottom: 20px

  @media(min-width: 1900px)
    margin-bottom: 30px

  &:last-child
    margin-bottom: 0

ol,
ul
  list-style-position: inside
  padding: 0

  &:not([class])
    &:not(:last-child)
      margin-bottom: 20px

      @media(min-width: 1900px)
        margin-bottom: 30px

ul
  list-style: none

  &:not([class])
    li
      padding-left: 20px
      position: relative

      @media(min-width: 1900px)
        padding-left: 28px

      &:not(:last-child)
        margin-bottom: 20px

        @media(min-width: 1900px)
          margin-bottom: 30px

      &::before
        background-color: $color_grey
        border-radius: 3px
        content: ''
        height: 6px
        left: 0
        position: absolute
        top: 0.7em
        transform: translateY(-50%)
        width: 6px
        z-index: 1

ol
  &:not([class])
    li
      &:not(:last-child)
        margin-bottom: 20px

        @media(min-width: 1900px)
          margin-bottom: 30px

table
  border-collapse: collapse
  border: 2px solid $color_grey
  max-width: 100%
  text-align: left
  width: 100%

  th
    background-color: rgba($color_lightblue, 0.03)
    border-bottom: 2px solid $color_grey
    font-size: 13px
    font-weight: 500
    letter-spacing: 1px
    text-transform: uppercase
    text-align: center

    @media(min-width: 1350px)
      font-size: 16px
      letter-spacing: 2px

    @media(min-width: 1900px)
      font-size: 18px
      font-weight: 700
      letter-spacing: 3px

  th,
  td
    border: 1px solid $color_grey
    padding: 16px
    vertical-align: middle

  td
    @media(min-width: 1900px)
      padding: 20px

img
  height: auto
  max-width: 100%
  vertical-align: top

.title-1
  color: $color_darkblue
  font-family: $secondary_font
  font-size: 36px
  line-height: 1.33333
  letter-spacing: 3px
  margin-bottom: 50px
  text-align: center

  @media(min-width: 1350px)
    font-size: 48px
    margin-bottom: 100px

  @media(min-width: 1900px)
    font-size: 60px
    letter-spacing: 4px
    margin-bottom: 150px

.title-2
  color: $color_darkblue
  font-family: $primary_font
  font-size: 18px
  font-weight: 700
  line-height: 1.33333
  letter-spacing: 3px
  margin-bottom: 45px
  text-transform: uppercase

  @media(min-width: 1024px)
    font-family: $secondary_font
    font-size: 48px
    margin-bottom: 70px
    text-align: center
    text-transform: none

  @media(min-width: 1900px)
    font-size: 60px
    letter-spacing: 4px
    margin-bottom: 120px

.kitsch-title
  color: $color_gold
  font-family: $secondary_font
  font-size: 30px
  letter-spacing: 2px
  padding-top: 80px
  padding-bottom: 80px
  position: relative
  text-align: center

  @media(min-width: 1350px)
    font-size: 48px

  @media(min-width: 1900px)
    font-size: 60px
    line-height: 1.5
    letter-spacing: 4px

  &::after,
  &::before
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='39' viewBox='0 0 11 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.3407 11.9751L7.12119 10.0239L7.8529 12.4629L8.3407 14.902V17.5849V19.0483L7.8529 21.4873L6.38948 24.4142L4.92607 26.8532L3.95046 28.5605L3.21875 30.2678V31.9751L3.95046 34.4142L6.14558 38.3166L5.65777 35.8776V32.219V30.7556L6.14558 29.0483L7.12119 27.0971L8.3407 24.902L9.31631 23.1947L9.80412 21.4873L10.048 19.5361V17.341L9.56021 15.3898L9.07241 13.6825L8.3407 11.9751Z' fill='%236B9CFD' stroke='%236B9CFD'/%3E%3Cpath d='M2.70837 26.4138L4.17178 28.6089L3.44007 26.1699L2.95227 23.7308V21.0479V19.5845L3.44007 17.1455L4.90349 14.2186L5.8791 12.2674L7.34251 9.5845L7.83032 8.12108L8.07422 5.92596L6.6108 2.99913L5.14739 0.316204L5.63519 2.75523L5.8791 5.92596L5.63519 7.87718L5.14739 9.5845L4.17178 11.5357L2.95227 13.7308L2.22056 15.1943L1.48885 17.1455L1.00105 19.0967V21.0479L1.48885 23.243L1.97666 24.9504L2.70837 26.4138Z' fill='%236B9CFD' stroke='%236B9CFD'/%3E%3C/svg%3E%0A")
    background-repeat: no-repeat
    background-position: 0 0
    content: ''
    height: 39px
    left: 50%
    position: absolute
    transform: translateX(-50%)
    width: 11px
    z-index: 1

  &::after
    bottom: 0
    top: auto

  &::before
    top: 0

.more-link
  align-items: center
  display: inline-flex
  font-size: 13px
  font-weight: 700
  padding-top: 10px
  padding-bottom: 10px
  text-transform: uppercase
  text-decoration: none

  svg
    fill: $color_lightblue
    height: 16px
    margin-left: 10px
    width: 16px

.brand-text
  font-family: $secondary_font
  line-height: 1.33333
  letter-spacing: 1px

  @media(min-width: 1350px)
    font-size: 18px

  @media(min-width: 1900px)
    font-size: 28px

.color-gold
  color: $color_gold
