body
  color: $color_darkblue
  font-family: 'Lato', Arial, sans-serif
  font-size: 14px
  font-weight: 300
  line-height: 1.25

  @media(min-width: 1350px)
    font-size: 16px

  @media(min-width: 1900px)
    font-size: 24px

a
  color: $color_darkblue
  transition: color 0.3s

  &:hover,
  &:focus
    color: $color_lightblue
    outline: none

  &:active
    color: $color_grey
b,
strong
  font-weight: 700

*
  &:focus
    outline: none !important

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6
  font-weight: 700
  margin-top: 0
  margin-bottom: 0

h1,.h1
  font-size: 30px
  line-height: 1.5
  margin-bottom: 24px

  @media(min-width: 1024px)
    font-size: 36px
    margin-bottom: 36px

  @media(min-width: 1900px)
    font-size: 40px
    margin-bottom: 56px

h2,.h2
  font-family: $secondary_font
  font-size: 30px
  line-height: 1.33333
  letter-spacing: 2px
  margin-bottom: 20px

  @media(min-width: 1350px)
    font-size: 36px
    line-height: 1.375
    margin-bottom: 30px

  @media(min-width: 1900px)
    font-size: 48px
    letter-spacing: 4px
    margin-bottom: 40px

h3,.h3
  font-size: 18px
  line-height: 1.2
  letter-spacing: 3px
  margin-bottom: 25px

  @media(min-width: 1900px)
    font-size: 26px
    letter-spacing: 5px
    margin-bottom: 40px

h4,.h4
  font-size: 18px
  line-height: 1.3
  letter-spacing: 3px
  margin-bottom: 25px

  @media(min-width: 1900px)
    margin-bottom: 40px

.giant-title
  @media(min-width: 1900px)
    font-size: 72px
    margin-bottom: 80px

h5,.h5,
h6,.h6,
p,
ul,
ol,
table,
.table-responsive,
.responsive-table
  margin-top: 0
  margin-bottom: 20px

  @media(min-width: 1900px)
    margin-bottom: 30px

  &:last-child
    margin-bottom: 0

ol,
ul
  list-style-position: inside
  padding: 0

  &:not([class])
    &:not(:last-child)
      margin-bottom: 20px

      @media(min-width: 1900px)
        margin-bottom: 30px

ul
  list-style: none

  &:not([class])
    li
      padding-left: 20px
      position: relative

      @media(min-width: 1900px)
        padding-left: 28px

      &:not(:last-child)
        margin-bottom: 20px

        @media(min-width: 1900px)
          margin-bottom: 30px

      &::before
        background-color: $color_grey
        border-radius: 3px
        content: ''
        height: 6px
        left: 0
        position: absolute
        top: 0.7em
        transform: translateY(-50%)
        width: 6px
        z-index: 1

ol
  &:not([class])
    li
      &:not(:last-child)
        margin-bottom: 20px

        @media(min-width: 1900px)
          margin-bottom: 30px

table
  border-collapse: collapse
  border: 2px solid $color_grey
  max-width: 100%
  text-align: left
  width: 100%

  th
    background-color: rgba($color_lightblue, 0.03)
    border-bottom: 2px solid $color_grey
    font-size: 13px
    font-weight: 500
    letter-spacing: 1px
    text-transform: uppercase
    text-align: center

    @media(min-width: 1350px)
      font-size: 16px
      letter-spacing: 2px

    @media(min-width: 1900px)
      font-size: 18px
      font-weight: 700
      letter-spacing: 3px

  th,
  td
    border: 1px solid $color_grey
    padding: 16px
    vertical-align: middle

  td
    @media(min-width: 1900px)
      padding: 20px

img
  height: auto
  max-width: 100%
  vertical-align: top

.title-1
  color: $color_darkblue
  font-family: $secondary_font
  font-size: 32px
  line-height: 1.33333
  letter-spacing: 3px
  margin-bottom: 50px
  text-align: center

  @media(min-width: 768px)
    font-size: 36px

  @media(min-width: 1024px)
    margin-bottom: 80px

  @media(min-width: 1350px)
    font-size: 48px

  @media(min-width: 1900px)
    font-size: 60px
    letter-spacing: 4px
    margin-bottom: 150px

.title-1 + .brand-text
  @media(min-width: 1900px)
    margin-top: -60px

.title-2
  color: $color_darkblue
  font-family: $primary_font
  font-size: 18px
  font-weight: 700
  line-height: 1.33333
  letter-spacing: 3px
  margin-bottom: 45px
  text-transform: uppercase

  @media(min-width: 1024px)
    font-family: $secondary_font
    font-size: 48px
    margin-bottom: 70px
    text-align: center
    text-transform: none

  @media(min-width: 1900px)
    font-size: 60px
    letter-spacing: 4px
    margin-bottom: 120px

.kitsch-title
  color: $color_gold
  font-family: $secondary_font
  font-size: 30px
  letter-spacing: 2px
  padding-top: 80px
  padding-bottom: 80px
  position: relative
  text-align: center

  @media(min-width: 1350px)
    font-size: 48px

  @media(min-width: 1900px)
    font-size: 60px
    line-height: 1.5
    letter-spacing: 4px

  &::after,
  &::before
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='39' viewBox='0 0 11 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.3407 11.9751L7.12119 10.0239L7.8529 12.4629L8.3407 14.902V17.5849V19.0483L7.8529 21.4873L6.38948 24.4142L4.92607 26.8532L3.95046 28.5605L3.21875 30.2678V31.9751L3.95046 34.4142L6.14558 38.3166L5.65777 35.8776V32.219V30.7556L6.14558 29.0483L7.12119 27.0971L8.3407 24.902L9.31631 23.1947L9.80412 21.4873L10.048 19.5361V17.341L9.56021 15.3898L9.07241 13.6825L8.3407 11.9751Z' fill='%236B9CFD' stroke='%236B9CFD'/%3E%3Cpath d='M2.70837 26.4138L4.17178 28.6089L3.44007 26.1699L2.95227 23.7308V21.0479V19.5845L3.44007 17.1455L4.90349 14.2186L5.8791 12.2674L7.34251 9.5845L7.83032 8.12108L8.07422 5.92596L6.6108 2.99913L5.14739 0.316204L5.63519 2.75523L5.8791 5.92596L5.63519 7.87718L5.14739 9.5845L4.17178 11.5357L2.95227 13.7308L2.22056 15.1943L1.48885 17.1455L1.00105 19.0967V21.0479L1.48885 23.243L1.97666 24.9504L2.70837 26.4138Z' fill='%236B9CFD' stroke='%236B9CFD'/%3E%3C/svg%3E%0A")
    background-repeat: no-repeat
    background-position: 0 0
    content: ''
    height: 39px
    left: 50%
    position: absolute
    transform: translateX(-50%)
    width: 11px
    z-index: 1

  &::after
    bottom: 0
    top: auto

  &::before
    top: 0

.more-link
  align-items: center
  display: inline-flex
  font-size: 13px
  font-weight: 700
  padding-top: 10px
  padding-bottom: 10px
  text-transform: uppercase
  text-decoration: none

  svg
    fill: $color_lightblue
    height: 16px
    margin-left: 10px
    width: 16px

.brand-text
  font-family: $secondary_font
  line-height: 1.33333
  letter-spacing: 1px

  @media(min-width: 1024px)
    font-size: 16px
    letter-spacing: 2px

  @media(min-width: 1350px)
    font-size: 20px

  @media(min-width: 1900px)
    font-size: 28px
    letter-spacing: 3px

.color-gold
  color: $color_gold

.color-grey
  color: $color_grey

.phone-link
  display: inline-block
  font-weight: 700
  letter-spacing: 1px
  padding-top: 2px
  padding-bottom: 2px
  text-decoration: none
  text-transform: uppercase

  @media(min-width: 1900px)
    font-size: 18px
    letter-spacing: 3px

.text-justify-tablets
  @media(min-width: 768px)
    text-align: justify

.note
  background-color: $color_darkblue
  color: #fff
  font-size: 13px
  font-weight: 700
  letter-spacing: 2px
  margin-bottom: 40px
  max-width: 600px
  margin-left: 30px
  margin-right: 30px
  padding: 40px
  position: relative
  text-transform: uppercase
  text-align: center

  @media(min-width: 768px)
    margin-left: auto
    margin-right: auto
    margin-bottom: 100px

  @media(min-width: 1350px)
    font-size: 18px
    max-width: 1000px
    margin-bottom: 160px
    padding: 65px

  &::after
    border: 2px solid #fff
    bottom: 10px
    content: ''
    left: 10px
    position: absolute
    right: 10px
    top: 10px
    z-index: 1

.container
  .note_2
    margin-left: -30px
    margin-right: -30px

    @media(min-width: 768px)
      margin-left: auto
      margin-right: auto

.note_2
  max-width: 560px
  margin-left: auto
  margin-right: auto
  position: relative
  padding-left: 45px
  padding-right: 45px
  padding-top: 45px

  @media(min-width: 1024px)
    max-width: 800px
    padding-top: 95px
    padding-left: 100px
    padding-right: 100px

  @media(min-width: 1900px)
    max-width: 1104px
    padding-left: 140px
    padding-right: 140px
    padding-top: 140px

  &::after
    background-color: $color_darkblue
    background-image: url("data:image/svg+xml,%3Csvg width='481' height='12' viewBox='0 0 481 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M64.1235 0.822513L96.1065 11.3442L128.09 0.822513L160.087 11.3442L192.07 0.822513L224.053 11.3442L256.036 0.822513L288.019 11.3442L320.002 0.822513L351.985 11.3442L383.968 0.822513L415.951 11.3442L447.934 0.822513L479.788 11.299L480.06 10.7684L447.934 0.212891L415.951 10.7232L383.968 0.212891L351.985 10.7232L320.002 0.212891L288.019 10.7232L256.036 0.212891L224.053 10.7232L192.07 0.212891L160.087 10.7232L128.09 0.212891L96.1065 10.7232L64.1235 0.212891L32.1261 10.7232L0.271892 0.258048L0 0.777356L32.1261 11.3442L64.1235 0.822513Z' fill='%236F7D9D' fill-opacity='0.1'/%3E%3C/svg%3E%0A")
    background-position: 0 0
    background-repeat: repeat
    box-shadow: 0 0 0 2px #fff, 0 0 0 10px $color_darkblue
    content: ''
    height: 70%
    left: 10px
    max-height: 320px
    position: absolute
    padding: 40px
    right: 10px
    top: 0

    @media(min-width: 1024px)
      max-height: 400px

    @media(min-width: 1900px)
      box-shadow: 0 0 0 3px #fff, 0 0 0 15px $color_darkblue
      max-height: 650px

  &:not(:last-child)
    margin-bottom: 80px

    @media(min-width: 1350px)
      margin-bottom: 120px

    @media(min-width: 1900px)
      margin-bottom: 200px

  &__inner
    box-shadow: 0 0 0 2px $color_darkblue, 0 0 0 10px #fff
    background-color: #fff
    filter: drop-shadow(0 0 4px rgba(#000, 0.25))
    padding: 30px 25px
    position: relative
    text-align: center
    z-index: 1

    @media(min-width: 1024px)
      padding: 50px

    @media(min-width: 1900px)
      box-shadow: 0 0 0 3px $color_darkblue, 0 0 0 15px #fff
      filter: drop-shadow(0 0 4px rgba(#000, 0.25))
      padding: 85px

  &__title
    font-size: 13px
    font-weight: 700
    letter-spacing: 2px
    margin-bottom: 15px
    text-transform: uppercase

    @media(min-width: 1024px)
      font-size: 18px
      letter-spacing: 3px
      margin-bottom: 40px

    @media(min-width: 1900px)
      font-size: 26px
      letter-spacing: 5px
      margin-bottom: 60px
