<section class="action-banner">
  <picture>
    <source srcset="images/content/action_banner/desktop.jpg, images/content/action_banner/desktop@2x.jpg 2x" media="(min-width: 768px)">
    <img src="images/content/action_banner/mobile.jpg" srcset="images/content/action_banner/mobile@2x.jpg 2x" alt="alt">
  </picture>
  <div class="action-banner__container">
    <p class="action-banner__intro">Ювелирные изделия по индивидуальному заказу</p>
    <h2 class="action-banner__title">Создай свой<br> неповторимый дизайн</h2>
    <p><a class="action-banner__link" href="#">Подробнее <svg><use xlink:href="#double_chevron_right"></use></svg></a></p>
  </div>
</section>
