<div class="float-bar">
  <button class="js-popover-opener float-bar__button" type="button" title="Магазины" data-popover="locations"><svg><use xlink:href="#location"></use></svg></button>
  <a class="js-popover-opener float-bar__button" href="cart.html" title="Корзина" data-popover="small-cart"><svg><use xlink:href="#cart"></use></svg></a>
  <a class="js-popover-opener float-bar__button" href="favorites.html" title="Избранное" data-popover="favorites-popup"><svg><use xlink:href="#favorites"></use></svg></a>
  <a class="js-popover-opener float-bar__button" href="personal.html" title="Личный кабинет" data-popover="login"><svg><use xlink:href="#personal"></use></svg></a>
  <button class="js-popover-opener float-bar__button float-bar__button--gold" type="button" title="Заказать звонок" data-popover="recall"><svg><use xlink:href="#service"></use></svg></button>
</div>
