<div class="float-bar">
  <button class="js-popover-opener float-bar__button" type="button" title="Магазины" data-popover="locations"><svg><use xlink:href="#location"></use></svg></button>
  <a class="float-bar__button" href="cart.html" title="Корзина"><svg><use xlink:href="#cart"></use></svg></a>
  <a class="float-bar__button" href="favorites.html" title="Избранное"><svg><use xlink:href="#favorites"></use></svg></a>
  <a class="float-bar__button" href="personal.html" title="Личный кабинет"><svg><use xlink:href="#personal"></use></svg></a>
  <button class="float-bar__button float-bar__button--gold" type="button" title="Заказать звонок"><svg><use xlink:href="#service"></use></svg></button>
</div>
