<link rel="preload" href="fonts/subset-Lato-Light.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="fonts/subset-Lato-Regular.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="fonts/subset-Lato-Medium.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="fonts/subset-Lato-Bold.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="fonts/subset-Lato-Black.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="fonts/subset-PlayfairDisplay-Bold.woff2" as="font" crossorigin="anonymous">
