<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__logo"><img width="50" height="43" src="images/footer_logo.svg" alt=""></div>
      <div class="footer__subscribe">
        <p class="footer__subscribe-title"><small>подписаться на новости</small> и получить подарок!</p>
        <form action="">
          <input class="footer__subscribe-input" type="text" placeholder="EMAIL">
        </form>
      </div>
    </div>
  </div>
  <div class="footer__mid">
    <div class="container">
      <div class="footer__mid-block">
        <p class="footer__mid-title">СВЯЗАТЬСЯ С НАМИ</p>
        <p class="footer__contacts"><a class="footer__contacts-link" href="tel:+78008888888"><svg><use xlink:href="#phone"></use></svg> 8 800 888 88 88</a></p>
        <p class="footer__contacts"><a class="footer__contacts-link" href="#"><svg><use xlink:href="#wa"></use></svg> Whats up</a></p>
        <p class="footer__contacts"><a class="footer__contacts-link" href="#"><svg><use xlink:href="#tg"></use></svg> Telegram</a></p>
        <div class="footer__socials">
          <a class="footer__social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Instagram"><svg><use xlink:href="#inst_stroke"></use></svg></a>
          <a class="footer__social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Vkontakte"><svg><use xlink:href="#vk_stroke"></use></svg></a>
          <a class="footer__social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Facebook"><svg><use xlink:href="#fb_stroke"></use></svg></a>
        </div>
      </div>
      <div class="footer__mid-block">
        <p class="js-footer-toggler footer__mid-title">О КОМПАНИИ</p>
        <ul class="footer__menu">
          <li><a href="#">О бренде</a></li>
          <li><a href="#">Вакансии</a></li>
          <li><a href="#">Отзывы</a></li>
          <li><a href="#">Магазины</a></li>
          <li><a href="#">Представительства</a></li>
        </ul>
      </div>
      <div class="footer__mid-block">
        <p class="js-footer-toggler footer__mid-title">КАТАЛОГ</p>
        <ul class="footer__menu">
          <li><a href="#">Свадьба</a></li>
          <li><a href="#">Помолвка</a></li>
          <li><a href="#">Парные кольца</a></li>
          <li><a href="#">Ювелирные изделия</a></li>
          <li><a href="#">Новинки</a></li>
          <li><a href="#">Распродажа</a></li>
          <li><a href="#">Индивидуальный заказ</a></li>
        </ul>
      </div>
      <div class="footer__mid-block">
        <p class="js-footer-toggler footer__mid-title">ПОМОЩЬ</p>
        <ul class="footer__menu">
          <li><a href="#">Оплата и доставка</a></li>
          <li><a href="#">Как купить</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Гарантии</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__mid-logo"><img width="239" height="99" src="images/footer_big_logo.svg" alt="Дворец обручальных колец"></div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <p class="footer__copyright">© Дворец обручальных колец 2021</p>
      <ul class="footer__service-menu">
        <li><a href="#">Условия обработки персональных данных</a></li>
        <li><a href="#">Политика в отношении обработки персональных данных</a></li>
      </ul>
    </div>
  </div>
</footer>
