<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__logo"><img width="50" height="43" src="images/footer_logo.svg" alt=""></div>
      <div class="footer__subscribe">
        <p class="footer__subscribe-title"><small>подписаться на новости</small> и получить подарок!</p>
        <form action="">
          <input class="footer__subscribe-input" type="text" placeholder="EMAIL">
        </form>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <p class="footer__copyright">© Дворец обручальных колец 2021</p>
      <ul class="footer__service-menu">
        <li><a href="#">Условия обработки персональных данных</a></li>
        <li><a href="#">Политика в отношении обработки персональных данных</a></li>
      </ul>
    </div>
  </div>
</footer>
