<header class="header compensate-for-scrollbar">
  <div class="header__top">
    <button class="js-popover-opener header__locations" type="button" data-popover="locations"><svg><use xlink:href="#location"></use></svg> Санкт-петербург</button>
    <ul class="header__service-menu">
      <li><a href="#">Магазины</a></li>
      <li><a href="#">Представительства</a></li>
      <li><a href="#">Оплата и доставка</a></li>
    </ul>
    <button class="header__callback" type="button">Заказать звонок</button>
    <a class="header__phone" href="tel:+78008888888">8 800 888 88 88</a>
    <div class="header__socials">
      <a href="#" target="_blank" rel="nofollow noreferrer noopener" title="Instagram"><svg><use xlink:href="#inst_stroke"></use></svg></a>
      <a href="#" target="_blank" rel="nofollow noreferrer noopener" title="Vkontakte"><svg><use xlink:href="#vk_stroke"></use></svg></a>
      <a href="#" target="_blank" rel="nofollow noreferrer noopener" title="Facebook"><svg><use xlink:href="#fb_stroke"></use></svg></a>
      <a href="#" target="_blank" rel="nofollow noreferrer noopener" title="YouTube"><svg><use xlink:href="#yt"></use></svg></a>
    </div>
  </div>
  <div class="header__bottom">
    <button class="js-menu-toggler header__menu-toggler" type="button" title="Меню"><svg><use xlink:href="#burger"></use></svg></button>
    <a class="header__logo" href="main.html" title="На главную"><svg><use xlink:href="#logo"></use></svg></a>
    <button class="header__search-toggler" type="button"><svg><use xlink:href="#search"></use></svg> <span>Поиск</span></button>
    <div class="header__bottom-right">
      <a class="header__cart-link" href="cart.html" title="Корзина"><span class="header__cart-icon"><svg><use xlink:href="#cart_2"></use></svg> <span class="header__cart-qnt">2</span></span></a>
      <a class="header__fav-link" href="favorites.html" title="Избранное"><svg><use xlink:href="#favorites"></use></svg></a>
      <a class="header__enter-link" href="login.html" title="Личный кабинет"><span>Вход</span> <svg><use xlink:href="#personal"></use></svg></a>
    </div>
  </div>
</header>
