<div class="shade">
    <div class="locations popover" tabindex="0">
        <button class="js-popover-closer popover__closer" type="button" title="Закрыть">
            <svg>
                <use xlink:href="#close"></use>
            </svg>
            <span>Закрыть</span>
        </button>
        <div class="popover__inner">
            <button class="locations__aim" type="button">
                <svg>
                    <use xlink:href="#aim"></use>
                </svg>
                Определить город автоматически
            </button>
            <form class="locations__form" action="" method="get">
                <input class="locations__form-input input" type="text" placeholder="Выберите город">
                <!--<button class="locations__form-submit btn btn--type_4" type="submit">Изменить</button>-->
                <div class="locations__form-dropdown">
                    <p class="locations__form-noresults">Ничего не найдено</p>
                    <button class="locations__form-option" type="button">Санкт-Петербург</button>
                    <button class="locations__form-option" type="button">Москва</button>
                    <button class="locations__form-option" type="button">Екатеринбург</button>
                    <button class="locations__form-option" type="button">Пермь</button>
                    <button class="locations__form-option" type="button">Норильск</button>
                    <button class="locations__form-option" type="button">Санкт-Петербург</button>
                    <button class="locations__form-option" type="button">Москва</button>
                    <button class="locations__form-option" type="button">Екатеринбург</button>
                    <button class="locations__form-option" type="button">Пермь</button>
                    <button class="locations__form-option" type="button">Норильск</button>
                    <button class="locations__form-option" type="button">Санкт-Петербург</button>
                </div>
            </form>
            <p class="locations__list-title">Адреса магазинов в твоём городе:</p>
            <div class="locations__list">
                <a class="locations__item" href="#">
                    <span class="locations__item-title">Санкт-Петербург, ул. Чайковского, дом 22</span>
                    <span class="locations__item-address">Режим работы: с 12:00 до 21:00</span>
                </a>
                <a class="locations__item" href="#">
                    <span class="locations__item-title">Санкт-Петербург, пр. Дальневосточный, 12</span>
                    <span class="locations__item-address">Режим работы: с 12:00 до 21:00</span>
                </a>
                <a class="locations__item" href="#">
                    <span class="locations__item-title">Санкт-Петербург, пр. Светлановский, 109</span>
                    <span class="locations__item-address">Режим работы: с 12:00 до 21:00</span>
                </a>
                <a class="locations__item" href="#">
                    <span class="locations__item-title">Санкт-Петербург, Пражская, д. 48/50</span>
                    <span class="locations__item-address">Режим работы: с 11:00 до 21:00</span>
                </a>
            </div>
            <div class="locations__contacts-block">
                <p class="locations__contacts-title">Позвонить нам</p>
                <p class="locations__phone-link"><a href="tel:+78008888888">8 800 888 88 88</a></p>
                <div class="socials">
                    <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Instagram">
                        <svg>
                            <use xlink:href="#inst"></use>
                        </svg>
                    </a>
                    <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Vkontakte">
                        <svg>
                            <use xlink:href="#vk"></use>
                        </svg>
                    </a>
                    <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Facebook">
                        <svg>
                            <use xlink:href="#fb"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="search popover popover--wide" tabindex="0">
        <button class="js-popover-closer popover__closer" type="button" title="Закрыть">
            <svg>
                <use xlink:href="#close"></use>
            </svg>
            <span>Закрыть</span>
        </button>
        <a class="search__to-catalog" href="#">
            Перейти в каталог
            <svg>
                <use xlink:href="#chevron_right"></use>
            </svg>
        </a>
        <div class="popover__inner">
            <p class="search__title">Поиск по каталогу</p>
            <div class="search__form-block">
                <form class="search__form" action="search.html" method="get">
                    <input class="search__form-input" name="q" type="text" value="" placeholder="Поиск по каталогу" autocomplete="off">
                    <button class="search__form-submit" type="submit" title="Искать" value="Искать">
                        <svg>
                            <use xlink:href="#search"></use>
                        </svg>
                    </button>
                </form>
            </div>
            <div class="search__vars">
                <div class="search__vars-block">
                    <p class="search__vars-title">По запросу</p>
                    <ul class="search__vars-menu">
                        <li><a href="#">Изумруд</a></li>
                        <li><a href="#">Золотые серьги с изумрудом</a></li>
                        <li><a href="#">Золотое кольцо с изумрудом</a></li>
                        <li><a href="#">Серьги с изумрудом</a></li>
                        <li><a href="#">Кольцо с изумрудом</a></li>
                        <li><a href="#">С изумрудом</a></li>
                        <li><a href="#">Кольца золотые для женщины с изумрудом</a></li>
                        <li><a href="#">Подвеска с изумрудом</a></li>
                    </ul>
                </div>
                <div class="search__vars-block">
                    <p class="search__vars-title">Подборки</p>
                    <ul class="search__vars-menu">
                        <li><a href="#">Кольца для помолвки</a></li>
                        <li><a href="#">Комплекты</a></li>
                        <li><a href="#">Украшения для невесты</a></li>
                        <li><a href="#">Украшения для жениха</a></li>
                        <li><a href="#">Золотые серьги</a></li>
                        <li><a href="#">Обручальные кольца</a></li>
                        <li><a href="#">Парные кольца</a></li>
                    </ul>
                </div>
                <div class="search__vars-block">
                    <a class="search__to-catalog2" href="#">
                        Перейти в каталог
                        <svg>
                            <use xlink:href="#chevron_right"></use>
                        </svg>
                    </a>
                    <p class="search__vars-title">Популярные товары</p>
                    <ul class="popular-list">
                        <li class="popular-list__item">
                            <div class="popular">
                                <a class="popular__link" href="detail.html">
                                    <span class="popular__image"><img src="images/content/popular/img_1.jpg" srcset="images/content/popular/img_1@2x.jpg 2x" alt="Кольцо с бриллиантами"></span>
                                    <span class="popular__title">Кольцо с бриллиантами</span>
                                </a>
                                <p class="popular__price popular__price--old">93 000 руб.</p>
                                <p class="popular__price">41 600 руб.</p>
                            </div>
                        </li>
                        <li class="popular-list__item">
                            <div class="popular">
                                <a class="popular__link" href="detail.html">
                                    <span class="popular__image"><img src="images/content/popular/img_1.jpg" srcset="images/content/popular/img_1@2x.jpg 2x" alt="Кольцо с бриллиантами"></span>
                                    <span class="popular__title">Кольцо с бриллиантами</span>
                                </a>
                                <p class="popular__price popular__price--old">93 000 руб.</p>
                                <p class="popular__price">41 600 руб.</p>
                            </div>
                        </li>
                        <li class="popular-list__item">
                            <div class="popular">
                                <a class="popular__link" href="detail.html">
                                    <span class="popular__image"><img src="images/content/popular/img_1.jpg" srcset="images/content/popular/img_1@2x.jpg 2x" alt="Кольцо с бриллиантами"></span>
                                    <span class="popular__title">Кольцо с бриллиантами</span>
                                </a>
                                <p class="popular__price popular__price--old">93 000 руб.</p>
                                <p class="popular__price">41 600 руб.</p>
                            </div>
                        </li>
                        <li class="popular-list__item">
                            <div class="popular">
                                <a class="popular__link" href="detail.html">
                                    <span class="popular__image"><img src="images/content/popular/img_1.jpg" srcset="images/content/popular/img_1@2x.jpg 2x" alt="Кольцо с бриллиантами"></span>
                                    <span class="popular__title">Кольцо с бриллиантами</span>
                                </a>
                                <p class="popular__price popular__price--old">93 000 руб.</p>
                                <p class="popular__price">41 600 руб.</p>
                            </div>
                        </li>
                        <li class="popular-list__item">
                            <div class="popular">
                                <a class="popular__link" href="detail.html">
                                    <span class="popular__image"><img src="images/content/popular/img_1.jpg" srcset="images/content/popular/img_1@2x.jpg 2x" alt="Кольцо с бриллиантами"></span>
                                    <span class="popular__title">Кольцо с бриллиантами</span>
                                </a>
                                <p class="popular__price popular__price--old">93 000 руб.</p>
                                <p class="popular__price">41 600 руб.</p>
                            </div>
                        </li>
                        <li class="popular-list__item">
                            <div class="popular">
                                <a class="popular__link" href="detail.html">
                                    <span class="popular__image"><img src="images/content/popular/img_1.jpg" srcset="images/content/popular/img_1@2x.jpg 2x" alt="Кольцо с бриллиантами"></span>
                                    <span class="popular__title">Кольцо с бриллиантами</span>
                                </a>
                                <p class="popular__price popular__price--old">93 000 руб.</p>
                                <p class="popular__price">41 600 руб.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="favorites-popup popover popover--at_right" tabindex="0">
    <button class="js-popover-closer popover__closer" type="button" title="Закрыть"><svg><use xlink:href="#close"></use></svg> <span>Закрыть</span></button>
    <div class="popover__inner">
      <p class="favorites-popup__accaunt-title">Добро пожаловать в&nbsp;ваш&nbsp;аккаунт,<br> Валерия!</p>
      <p class="favorites-popup__title">Избранное</p>
      <div class="favorites-popup__list-block">
        <div class="favorites-popup__list">
          <div class="favorites-popup__list-item">
            <div class="sc-item">
              <button class="sc-item__delete" type="button" title="Удалить"><svg><use xlink:href="#close"></use></svg></button>
              <p class="sc-item__row">
                <span class="sc-item__articul">921657Б</span>
                <span class="sc-item__size">размер 16</span>
              </p>
              <a class="sc-item__link" href="detail.html">
                <span class="sc-item__image-block">
                  <img src="images/content/sc-item/img.jpg" srcset="images/content/sc-item/img@2x.jpg 2x" alt="Кольцо с бриллиантами и изумрудами из комбинированного золота">
                </span>
                <span class="sc-item__title">Кольцо с бриллиантами и изумрудами из комбинированного золота</span>
                <span class="sc-item__pseudo-link">подробнее <svg><use xlink:href="#chevron_right"></use></svg></span>
              </a>
              <p class="sc-item__row">
                <span class="sc-item__price">41 600 руб.</span>
              </p>
            </div>
          </div>
          <div class="favorites-popup__list-item">
            <div class="sc-item">
              <button class="sc-item__delete" type="button" title="Удалить"><svg><use xlink:href="#close"></use></svg></button>
              <p class="sc-item__row">
                <span class="sc-item__articul">921657Б</span>
                <span class="sc-item__size">размер 16</span>
              </p>
              <a class="sc-item__link" href="detail.html">
                <span class="sc-item__image-block">
                  <img src="images/content/sc-item/img.jpg" srcset="images/content/sc-item/img@2x.jpg 2x" alt="Кольцо с бриллиантами и изумрудами из комбинированного золота">
                </span>
                <span class="sc-item__title">Кольцо с бриллиантами и изумрудами из комбинированного золота</span>
                <span class="sc-item__pseudo-link">подробнее <svg><use xlink:href="#chevron_right"></use></svg></span>
              </a>
              <p class="sc-item__row">
                <span class="sc-item__price">41 600 руб.</span>
              </p>
            </div>
          </div>
          <div class="favorites-popup__list-item">
            <div class="sc-item">
              <button class="sc-item__delete" type="button" title="Удалить"><svg><use xlink:href="#close"></use></svg></button>
              <p class="sc-item__row">
                <span class="sc-item__articul">921657Б</span>
                <span class="sc-item__size">размер 16</span>
              </p>
              <a class="sc-item__link" href="detail.html">
                <span class="sc-item__image-block">
                  <img src="images/content/sc-item/img.jpg" srcset="images/content/sc-item/img@2x.jpg 2x" alt="Кольцо с бриллиантами и изумрудами из комбинированного золота">
                </span>
                <span class="sc-item__title">Кольцо с бриллиантами и изумрудами из комбинированного золота</span>
                <span class="sc-item__pseudo-link">подробнее <svg><use xlink:href="#chevron_right"></use></svg></span>
              </a>
              <p class="sc-item__row">
                <span class="sc-item__price">41 600 руб.</span>
              </p>
            </div>
          </div>
          <div class="favorites-popup__list-item">
            <div class="sc-item">
              <button class="sc-item__delete" type="button" title="Удалить"><svg><use xlink:href="#close"></use></svg></button>
              <p class="sc-item__row">
                <span class="sc-item__articul">921657Б</span>
                <span class="sc-item__size">размер 16</span>
              </p>
              <a class="sc-item__link" href="detail.html">
                <span class="sc-item__image-block">
                  <img src="images/content/sc-item/img.jpg" srcset="images/content/sc-item/img@2x.jpg 2x" alt="Кольцо с бриллиантами и изумрудами из комбинированного золота">
                </span>
                <span class="sc-item__title">Кольцо с бриллиантами и изумрудами из комбинированного золота</span>
                <span class="sc-item__pseudo-link">подробнее <svg><use xlink:href="#chevron_right"></use></svg></span>
              </a>
              <p class="sc-item__row">
                <span class="sc-item__price">41 600 руб.</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <p class="favorites-popup__to-all"><a href="#">Смотреть все сохранённые изделия</a></p>
    </div>
  </div>-->

    <div class="favorites-popup popover popover--at_right" tabindex="0">
        <button class="js-popover-closer popover__closer" type="button" title="Закрыть">
            <svg>
                <use xlink:href="#close"></use>
            </svg>
            <span>Закрыть</span>
        </button>
        <div class="popover__inner">
            <p class="favorites-popup__accaunt-title">Добро пожаловать в&nbsp;ваш&nbsp;аккаунт,<br> Валерия!</p>
            <p class="favorites-popup__title">В избранном пусто</p>
        </div>
    </div>

    <!--<div class="small-cart popover popover--at_right" tabindex="0">
    <button class="js-popover-closer popover__closer" type="button" title="Закрыть"><svg><use xlink:href="#close"></use></svg> <span>Закрыть</span></button>
    <div class="popover__inner">
      <p class="small-cart__accaunt-title"><a href="login.html">Войти</a> / <a href="register.html">Зарегистироваться</a></p>
      <p class="small-cart__title">Ваша корзина пуста</p>
      <ul class="small-cart__menu">
        <li><a href="#">Обручальные кольца <svg><use xlink:href="#chevron_right"></use></svg></a></li>
        <li><a href="#">Помолвочные кольца <svg><use xlink:href="#chevron_right"></use></svg></a></li>
        <li><a href="#">Парные кольца <svg><use xlink:href="#chevron_right"></use></svg></a></li>
        <li><a href="#">Подобрать подарок <svg><use xlink:href="#chevron_right"></use></svg></a></li>
      </ul>
      <div class="help-block">
        <p class="help-block__intro">Нужна помощь?</p>
        <p class="help-block__title">Позвоните нам</p>
        <p class="help-block__phone"><a href="tel:+78008888888">8 800 888 88 88</a></p>
        <p class="help-block__support"><a href="#">Клиентская поддержка</a></p>
      </div>
      <div class="socials">
        <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Instagram"><svg><use xlink:href="#inst"></use></svg></a>
        <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Vkontakte"><svg><use xlink:href="#vk"></use></svg></a>
        <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Facebook"><svg><use xlink:href="#fb"></use></svg></a>
      </div>
    </div>
  </div>-->

    <div class="small-cart popover popover--at_right" tabindex="0">
        <button class="js-popover-closer popover__closer" type="button" title="Закрыть"><svg>
                <use xlink:href="#close"></use>
            </svg> <span>Закрыть</span></button>
        <div class="popover__inner">
            <p class="small-cart__accaunt-title">Добро пожаловать в&nbsp;ваш&nbsp;аккаунт,<br> Валерия!</p>
            <p class="small-cart__title">Ваша корзина</p>
            <div class="small-cart__list-block">
                <div class="small-cart__list">
                    <div class="small-cart__list-item">
                        <div class="sc-item">
                            <button class="sc-item__delete" type="button" title="Удалить"><svg>
                                    <use xlink:href="#close"></use>
                                </svg></button>
                            <p class="sc-item__row">
                                <span class="sc-item__articul">921657Б</span>
                                <span class="sc-item__size">размер 16</span>
                            </p>
                            <a class="sc-item__link" href="detail.html">
                                <span class="sc-item__image-block">
                                    <img src="images/content/sc-item/img.jpg" srcset="images/content/sc-item/img@2x.jpg 2x" alt="Кольцо с бриллиантами и изумрудами из комбинированного золота">
                                </span>
                                <span class="sc-item__title">Кольцо с бриллиантами и изумрудами из комбинированного золота</span>
                                <span class="sc-item__pseudo-link">подробнее <svg>
                                        <use xlink:href="#chevron_right"></use>
                                    </svg></span>
                            </a>
                            <p class="sc-item__row">
                                <span class="sc-item__price">41 600 руб.</span>
                            </p>
                        </div>
                    </div>
                    <div class="small-cart__list-item">
                        <div class="sc-item">
                            <button class="sc-item__delete" type="button" title="Удалить"><svg>
                                    <use xlink:href="#close"></use>
                                </svg></button>
                            <p class="sc-item__row">
                                <span class="sc-item__articul">921657Б</span>
                                <span class="sc-item__size">размер 16</span>
                            </p>
                            <a class="sc-item__link" href="detail.html">
                                <span class="sc-item__image-block">
                                    <img src="images/content/sc-item/img.jpg" srcset="images/content/sc-item/img@2x.jpg 2x" alt="Кольцо с бриллиантами и изумрудами из комбинированного золота">
                                </span>
                                <span class="sc-item__title">Кольцо с бриллиантами и изумрудами из комбинированного золота</span>
                                <span class="sc-item__pseudo-link">подробнее <svg>
                                        <use xlink:href="#chevron_right"></use>
                                    </svg></span>
                            </a>
                            <p class="sc-item__row">
                                <span class="sc-item__price">41 600 руб.</span>
                            </p>
                        </div>
                    </div>
                    <div class="small-cart__list-item">
                        <div class="sc-item">
                            <button class="sc-item__delete" type="button" title="Удалить"><svg>
                                    <use xlink:href="#close"></use>
                                </svg></button>
                            <p class="sc-item__row">
                                <span class="sc-item__articul">921657Б</span>
                                <span class="sc-item__size">размер 16</span>
                            </p>
                            <a class="sc-item__link" href="detail.html">
                                <span class="sc-item__image-block">
                                    <img src="images/content/sc-item/img.jpg" srcset="images/content/sc-item/img@2x.jpg 2x" alt="Кольцо с бриллиантами и изумрудами из комбинированного золота">
                                </span>
                                <span class="sc-item__title">Кольцо с бриллиантами и изумрудами из комбинированного золота</span>
                                <span class="sc-item__pseudo-link">подробнее <svg>
                                        <use xlink:href="#chevron_right"></use>
                                    </svg></span>
                            </a>
                            <p class="sc-item__row">
                                <span class="sc-item__price">41 600 руб.</span>
                            </p>
                        </div>
                    </div>
                    <div class="small-cart__list-item">
                        <div class="sc-item">
                            <button class="sc-item__delete" type="button" title="Удалить"><svg>
                                    <use xlink:href="#close"></use>
                                </svg></button>
                            <p class="sc-item__row">
                                <span class="sc-item__articul">921657Б</span>
                                <span class="sc-item__size">размер 16</span>
                            </p>
                            <a class="sc-item__link" href="detail.html">
                                <span class="sc-item__image-block">
                                    <img src="images/content/sc-item/img.jpg" srcset="images/content/sc-item/img@2x.jpg 2x" alt="Кольцо с бриллиантами и изумрудами из комбинированного золота">
                                </span>
                                <span class="sc-item__title">Кольцо с бриллиантами и изумрудами из комбинированного золота</span>
                                <span class="sc-item__pseudo-link">подробнее <svg>
                                        <use xlink:href="#chevron_right"></use>
                                    </svg></span>
                            </a>
                            <p class="sc-item__row">
                                <span class="sc-item__price">41 600 руб.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="small-cart__button btn btn--type_1" href="cart.html">Перейти к оформлению</a>

            <a class="small-cart__button btn btn--type_2" href="cart.html">Вернуться к покупкам</a>

            <div class="help-block">
                <p class="help-block__intro">Нужна помощь?</p>
                <p class="help-block__title">Позвоните нам</p>
                <p class="help-block__phone"><a href="tel:+78008888888">8 800 888 88 88</a></p>
                <p class="help-block__support"><a href="#">Клиентская поддержка</a></p>
            </div>
        </div>
    </div>

    <div class="login popover popover--at_right" tabindex="0">
        <button class="js-popover-closer popover__closer" type="button" title="Закрыть">
            <svg>
                <use xlink:href="#close"></use>
            </svg>
            <span>Закрыть</span>
        </button>
        <div class="popover__inner">
            <p class="popover__title">Войти или зарегистрироваться</p>
            <div class="popover__tabs">
                <p class="popover__text">С возвращением!<br><br> Введите свой номер телефона для<br> доступа к личному кабинету</p>
                <form class="popover__form" action="">
                    <label class="popover__form-label"><input class="js-phone-mask input" type="text" placeholder="Введите номер телефона"></label>
                    <button class="btn btn--type_1" type="submit">Подтвердить</button>
                </form>
                <p class="login__link"><a href="#">вход / регистрация через email</a></p>
                <div class="login__reg-block">
                    <p class="login__reg-title">вход через соц сети</p>
                </div>
            </div>
            <div class="socials">
                <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Instagram">
                    <svg>
                        <use xlink:href="#inst"></use>
                    </svg>
                </a>
                <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Vkontakte">
                    <svg>
                        <use xlink:href="#vk"></use>
                    </svg>
                </a>
                <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Facebook">
                    <svg>
                        <use xlink:href="#fb"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="recall popover popover--at_right" tabindex="0">
        <button class="js-popover-closer popover__closer" type="button" title="Закрыть"><svg>
                <use xlink:href="#close"></use>
            </svg> <span>Закрыть</span></button>
        <div class="popover__inner">
            <p class="popover__title">Заказать обратный звонок</p>
            <p class="recall__text">Отправьте нам ваш номер<br> и мы свяжемся с вами!</p>
            <form class="recall__form" action="">
                <label class="recall__form-label"><input class="js-phone-mask input" type="text" placeholder="Введите номер телефона"></label>
                <button class="btn btn--type_1" type="submit">Отправить</button>
            </form>
        </div>
    </div>

    <div class="add-cart popover popover--at_right" tabindex="0">
        <button class="js-popover-closer popover__closer" type="button" title="Закрыть"><svg>
                <use xlink:href="#close"></use>
            </svg> <span>Закрыть</span></button>
        <div class="popover__inner">
            <p class="popover__title">Быстрое добавление в корзину</p>
            <div class="add-cart__inner">
                <p class="add-cart__top">
                    <span class="add-cart__articul">Артикул: 921657Б</span>
                    <button class="add-cart__favorites" type="button" title="Добавить в избранное"><svg>
                            <use xlink:href="#favorites"></use>
                        </svg></button>
                </p>
                <p class="add-cart__description">Кольцо с бриллиантами и изумрудами из комбинированного золота</p>
                <p class="add-cart__sizes-title">Выбрать размер:</p>
                <div class="add-cart__sizes">
                    <label class="add-cart__size">
                        <input type="radio" name="size" value="15" checked>
                        <span>15</span>
                    </label>
                    <label class="add-cart__size">
                        <input type="radio" name="size" value="15.5">
                        <span>15.5</span>
                    </label>
                    <label class="add-cart__size">
                        <input type="radio" name="size" value="16">
                        <span>16</span>
                    </label>
                    <label class="add-cart__size">
                        <input type="radio" name="size" value="16.5">
                        <span>16.5</span>
                    </label>
                    <label class="add-cart__size">
                        <input type="radio" name="size" value="17">
                        <span>17</span>
                    </label>
                    <label class="add-cart__size">
                        <input type="radio" name="size" value="17.5">
                        <span>17.5</span>
                    </label>
                    <label class="add-cart__size">
                        <input type="radio" name="size" value="18">
                        <span>18</span>
                    </label>
                    <label class="add-cart__size">
                        <input type="radio" name="size" value="18.5">
                        <span>18.5</span>
                    </label>
                    <label class="add-cart__size">
                        <input type="radio" name="size" value="19">
                        <span>19</span>
                    </label>
                    <label class="add-cart__size">
                        <input type="radio" name="size" value="19.5">
                        <span>19.5</span>
                    </label>
                    <label class="add-cart__size">
                        <input type="radio" name="size" value="20">
                        <span>20</span>
                    </label>
                    <label class="add-cart__size">
                        <input type="radio" name="size" value="20.5">
                        <span>20.5</span>
                    </label>
                    <label class="add-cart__size">
                        <input type="radio" name="size" value="21">
                        <span>21</span>
                    </label>
                    <label class="add-cart__size">
                        <input type="radio" name="size" value="21.5">
                        <span>21.5</span>
                    </label>
                    <label class="add-cart__size">
                        <input type="radio" name="size" value="22">
                        <span>22</span>
                    </label>
                    <label class="add-cart__size">
                        <input type="radio" name="size" value="22.5">
                        <span>22.5</span>
                    </label>
                    <label class="add-cart__size">
                        <input type="radio" name="size" value="23">
                        <span>23</span>
                    </label>
                    <label class="add-cart__size">
                        <input type="radio" name="size" value="23.5">
                        <span>23.5</span>
                    </label>
                </div>
                <p class="add-cart__shit"><a class="js-popover-opener" href="#" data-popover="sizes-guide">Как определить свой размер?</a></p>
                <div class="add-cart__quantity">
                    <p class="add-cart__quantity-title">Количество</p>
                    <div class="quantity">
                        <button class="js-quantity-decrease quantity__button" type="button" title="Уменьшить"><svg>
                                <use xlink:href="#minus"></use>
                            </svg></button>
                        <input class="quantity__input" type="text" value="1" readonly>
                        <button class="js-quantity-increase quantity__button" type="button" title="Увеличить"><svg>
                                <use xlink:href="#plus"></use>
                            </svg></button>
                    </div>
                </div>
                <div class="add-cart__prices">
                    <p class="add-cart__old-price">93 000 руб.</p>
                    <p class="add-cart__price">41 600 руб.</p>
                </div>
                <a class="add-cart__add-cart btn btn--type_4" href="javascript:void(0)">Кольцо в корзину</a>
                <a class="add-cart__to-detail btn btn--type_2" href="detail.html">Смотреть все характеристики</a>
                <!--<img src="images/content/catalog-item/img_6.jpg" srcset="images/content/catalog-item/img_6@2x.jpg" alt="">-->
            </div>
        </div>
    </div>

    <div class="sizes-guide popover popover--medium popover--at_right" tabindex="0">
        <button class="js-popover-closer popover__closer" type="button" title="Закрыть"><svg>
                <use xlink:href="#close"></use>
            </svg> <span>Закрыть</span></button>
        <div class="popover__inner">
            <p class="popover__title">Гайд по размеру колец</p>
            <div class="sizes-guide__container">
                <div class="sizes-guide__right">
                    <p class="sizes-guide__right-title">КАК ИЗМЕрИТЬ ОКРУЖНОСТЬ ПАЛЬЦА</p>
                    <p>
                        <img src="images/get_size/img_1.jpg" alt=""><br>
                        1. Положите нитку под пальцем
                    </p>
                    <p>
                        <img src="images/get_size/img_2.jpg" alt=""><br>
                        2. Оберните ее вокруг пальца и отметьте пересечение нитки
                    </p>
                    <p>
                        <img src="images/get_size/img_3.jpg" alt=""><br>
                        3. Измерьте расстояние линейкой
                    </p>
                    <p>
                        4. Сопоставьте измерение по таблице
                    </p>
                </div>
                <div class="sizes-guide__left">
                    <table>
                        <tr>
                            <th>Размер</th>
                            <th>Окружность пальца (мм)</th>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>47-48</td>
                        </tr>
                        <tr>
                            <td>15,5</td>
                            <td>48-49</td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>49-50</td>
                        </tr>
                        <tr>
                            <td>16,5</td>
                            <td>50-52</td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td>52-53</td>
                        </tr>
                        <tr>
                            <td>17,5</td>
                            <td>53-55</td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td>55-56</td>
                        </tr>
                        <tr>
                            <td>18,5</td>
                            <td>56-58</td>
                        </tr>
                        <tr>
                            <td>19</td>
                            <td>58-59</td>
                        </tr>
                        <tr>
                            <td>19,5</td>
                            <td>59-61</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>61-63</td>
                        </tr>
                        <tr>
                            <td>20,5</td>
                            <td>63-65</td>
                        </tr>
                        <tr>
                            <td>21</td>
                            <td>65-66</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="vacancy-popover popover popover--at_right" tabindex="0">
        <button class="js-popover-closer popover__closer" type="button" title="Закрыть"><svg>
                <use xlink:href="#close"></use>
            </svg> <span>Закрыть</span></button>
        <div class="popover__inner">
            <p class="popover__title">Отправить резюме</p>
            <p class="popover__text">Заполните форму и мы ответим вам.</p>
            <form class="popover__form" action="">
                <label class="popover__form-label"><input class="input" type="text" name="fio" placeholder="ФИО*"></label>
                <label class="popover__form-label"><input class="js-phone-mask input" type="text" name="phone" placeholder="Телефон*"></label>
                <label class="popover__form-label"><input class="input" type="text" name="email" placeholder="Email*"></label>
                <label class="file">
                    <input class="js-upload-file" type="file" name="file" id="file" value="" data-multiple-caption="{count} файла выбрано">
                    <span class="file__text">ПРИКРЕПИТЬ ФАЙЛ</span>
                </label>
                <button class="btn btn--type_1" type="submit">Отправить</button>
            </form>
        </div>
    </div>

    <div class="hint popover popover--at_right" tabindex="0">
        <button class="js-popover-closer popover__closer" type="button" title="Закрыть"><svg>
                <use xlink:href="#close"></use>
            </svg> <span>Закрыть</span></button>
        <div class="popover__inner">
            <p class="popover__title">Намекнуть на подарок</p>
            <div class="hint__image"><img src="images/content/catalog-item/img_6.jpg" srcset="images/content/catalog-item/img_6@2x.jpg" alt=""></div>
            <form class="popover__form" action="">
                <label class="popover__form-label"><input class="input" type="text" name="name" placeholder="Ваше имя*"></label>
                <label class="popover__form-label"><input class="input" type="text" name="email" placeholder="Ваш email*"></label>
                <label class="popover__form-label"><input class="input" type="text" name="receiver_name" placeholder="Имя получателя*"></label>
                <label class="popover__form-label"><input class="input" type="text" name="receiver_email" placeholder="Email получателя*"></label>
                <button class="btn btn--type_1" type="submit">Отправить</button>
            </form>
        </div>
    </div>

    <div class="service-request popover popover--at_right" tabindex="0">
        <button class="js-popover-closer popover__closer" type="button" title="Закрыть">
            <svg>
                <use xlink:href="#close"></use>
            </svg>
            <span>Закрыть</span>
        </button>
        <div class="popover__inner">
            <p class="popover__title">Записаться на услугу</p>
            <p class="popover__text">Заполните форму и мы ответим вам.</p>
            <form class="popover__form" action="">
                <label class="select-wrapper">
                    <span class="select-wrapper__label">Выберите услугу</span>
                    <span class="select-wrapper__container">
                        <select class="js-select">
                            <option value="1">Уход</option>
                            <option value="2">Регулировка</option>
                            <option value="3">Ремонт</option>
                            <option value="4">Программа обновления</option>
                            <option value="5">Гравировка</option>
                            <option value="6">Другое</option>
                        </select>
                    </span>
                </label>
                <label class="popover__form-label"><input class="input" type="text" name="fio" placeholder="ФИО*"></label>
                <label class="popover__form-label"><input class="js-phone-mask input" type="text" name="phone" placeholder="Телефон*"></label>
                <label class="popover__form-label"><input class="input" type="text" name="email" placeholder="Email*"></label>
                <button class="btn btn--type_1" type="submit">Отправить</button>
            </form>
        </div>
        <div class="popover__inner" style="display: none">
            <p class="popover__title">Спасибо за вашу заявку</p>
            <p class="popover__text">В ближайшее время мы свяжемся с вами.</p>
        </div>
    </div>
</div>