<div class="shade">
  <div class="locations popover" tabindex="0">
    <button class="js-popover-closer popover__closer" type="button" title="Закрыть"><svg><use xlink:href="#close"></use></svg> <span>Закрыть</span></button>
    <div class="popover__inner">
      <button class="locations__aim" type="button"><svg><use xlink:href="#aim"></use></svg>Определить город автоматически</button>
      <form class="locations__form" action="" method="get">
        <input class="locations__form-input input" type="text" placeholder="Выберите город">
        <button class="locations__form-submit btn btn--type_4" type="submit">Изменить</button>
      </form>
      <p class="locations__list-title">Адреса магазинов в твоём городе:</p>
      <div class="locations__list">
        <a class="locations__item" href="#">
          <span class="locations__item-title">Санкт-Петербург, ул. Чайковского, дом 22</span>
          <span class="locations__item-address">Режим работы: с 12:00 до 21:00</span>
        </a>
        <a class="locations__item" href="#">
          <span class="locations__item-title">Санкт-Петербург, пр. Дальневосточный, 12</span>
          <span class="locations__item-address">Режим работы: с 12:00 до 21:00</span>
        </a>
        <a class="locations__item" href="#">
          <span class="locations__item-title">Санкт-Петербург, пр. Светлановский, 109</span>
          <span class="locations__item-address">Режим работы: с 12:00 до 21:00</span>
        </a>
        <a class="locations__item" href="#">
          <span class="locations__item-title">Санкт-Петербург, Пражская, д. 48/50</span>
          <span class="locations__item-address">Режим работы: с 11:00 до 21:00</span>
        </a>
      </div>
      <div class="locations__contacts-block">
        <p class="locations__contacts-title">Позвонить нам</p>
        <p class="locations__phone-link"><a href="tel:+78008888888">8 800 888 88 88</a></p>
        <div class="socials">
          <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Instagram"><svg><use xlink:href="#inst_stroke"></use></svg></a>
          <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Vkontakte"><svg><use xlink:href="#vk_stroke"></use></svg></a>
          <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Facebook"><svg><use xlink:href="#fb_stroke"></use></svg></a>
        </div>
      </div>
    </div>
  </div>

  <div class="search popover popover--wide" tabindex="0">
    <button class="js-popover-closer popover__closer" type="button" title="Закрыть"><svg><use xlink:href="#close"></use></svg> <span>Закрыть</span></button>
    <a class="search__to-catalog" href="#">Перейти в каталог <svg><use xlink:href="#chevron_right"></use></svg></a>
    <div class="popover__inner">
      <p class="search__title">Поиск по каталогу</p>
      <div class="search__form-block">
        <form class="search__form" action="search.html" method="get">
          <input class="search__form-input" name="q" type="text" value="" placeholder="Поиск по каталогу" autocomplete="off">
          <button class="search__form-submit" type="submit" title="Искать" value="Искать"><svg><use xlink:href="#search"></use></svg></button>
        </form>
      </div>
      <div class="search__vars">
        <div class="search__vars-block">
          <p class="search__vars-title">По запросу</p>
          <ul class="search__vars-menu">
            <li><button type="button">Изумруд</button></li>
            <li><button type="button">Золотые серьги с изумрудом</button></li>
            <li><button type="button">Золотое кольцо с изумрудом</button></li>
            <li><button type="button">Серьги с изумрудом</button></li>
            <li><button type="button">Кольцо с изумрудом</button></li>
            <li><button type="button">С изумрудом</button></li>
            <li><button type="button">Кольца золотые для женщины с изумрудом</button></li>
            <li><button type="button">Подвеска с изумрудом</button></li>
          </ul>
        </div>
        <div class="search__vars-block">
          <p class="search__vars-title">Подборки</p>
          <ul class="search__vars-menu">
            <li><button type="button">Кольца для помолвки</button></li>
            <li><button type="button">Комплекты</button></li>
            <li><button type="button">Украшения для невесты</button></li>
            <li><button type="button">Украшения для жениха</button></li>
            <li><button type="button">Золотые серьги</button></li>
            <li><button type="button">Обручальные кольца</button></li>
            <li><button type="button">Парные кольца</button></li>
          </ul>
        </div>
        <div class="search__vars-block">
          <a class="search__to-catalog2" href="#">Перейти в каталог <svg><use xlink:href="#chevron_right"></use></svg></a>
          <p class="search__vars-title">Популярные товары</p>
          <ul class="popular-list">
            <li class="popular-list__item">
              <div class="popular">
                <a class="popular__link" href="detail.html">
                  <span class="popular__image"><img src="images/content/popular/img_1.jpg" srcset="images/content/popular/img_1@2x.jpg 2x" alt="Кольцо с бриллиантами"></span>
                  <span class="popular__title">Кольцо с бриллиантами</span>
                </a>
                <p class="popular__price popular__price--old">93 000 руб.</p>
                <p class="popular__price">41 600 руб.</p>
              </div>
            </li>
            <li class="popular-list__item">
              <div class="popular">
                <a class="popular__link" href="detail.html">
                  <span class="popular__image"><img src="images/content/popular/img_1.jpg" srcset="images/content/popular/img_1@2x.jpg 2x" alt="Кольцо с бриллиантами"></span>
                  <span class="popular__title">Кольцо с бриллиантами</span>
                </a>
                <p class="popular__price popular__price--old">93 000 руб.</p>
                <p class="popular__price">41 600 руб.</p>
              </div>
            </li>
            <li class="popular-list__item">
              <div class="popular">
                <a class="popular__link" href="detail.html">
                  <span class="popular__image"><img src="images/content/popular/img_1.jpg" srcset="images/content/popular/img_1@2x.jpg 2x" alt="Кольцо с бриллиантами"></span>
                  <span class="popular__title">Кольцо с бриллиантами</span>
                </a>
                <p class="popular__price popular__price--old">93 000 руб.</p>
                <p class="popular__price">41 600 руб.</p>
              </div>
            </li>
            <li class="popular-list__item">
              <div class="popular">
                <a class="popular__link" href="detail.html">
                  <span class="popular__image"><img src="images/content/popular/img_1.jpg" srcset="images/content/popular/img_1@2x.jpg 2x" alt="Кольцо с бриллиантами"></span>
                  <span class="popular__title">Кольцо с бриллиантами</span>
                </a>
                <p class="popular__price popular__price--old">93 000 руб.</p>
                <p class="popular__price">41 600 руб.</p>
              </div>
            </li>
            <li class="popular-list__item">
              <div class="popular">
                <a class="popular__link" href="detail.html">
                  <span class="popular__image"><img src="images/content/popular/img_1.jpg" srcset="images/content/popular/img_1@2x.jpg 2x" alt="Кольцо с бриллиантами"></span>
                  <span class="popular__title">Кольцо с бриллиантами</span>
                </a>
                <p class="popular__price popular__price--old">93 000 руб.</p>
                <p class="popular__price">41 600 руб.</p>
              </div>
            </li>
            <li class="popular-list__item">
              <div class="popular">
                <a class="popular__link" href="detail.html">
                  <span class="popular__image"><img src="images/content/popular/img_1.jpg" srcset="images/content/popular/img_1@2x.jpg 2x" alt="Кольцо с бриллиантами"></span>
                  <span class="popular__title">Кольцо с бриллиантами</span>
                </a>
                <p class="popular__price popular__price--old">93 000 руб.</p>
                <p class="popular__price">41 600 руб.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="favorites popover popover--at_right" tabindex="0">
    <button class="js-popover-closer popover__closer" type="button" title="Закрыть"><svg><use xlink:href="#close"></use></svg> <span>Закрыть</span></button>
    <div class="popover__inner">

    </div>
  </div>

  <!--<div class="small-cart popover popover--at_right" tabindex="0">
    <button class="js-popover-closer popover__closer" type="button" title="Закрыть"><svg><use xlink:href="#close"></use></svg> <span>Закрыть</span></button>
    <div class="popover__inner">
      <p class="small-cart__accaunt-title"><a href="login.html">Войти</a> / <a href="register.html">Зарегистироваться</a></p>
      <p class="small-cart__title">Ваша корзина пуста</p>
      <ul class="small-cart__menu">
        <li><a href="#">Обручальные кольца <svg><use xlink:href="#chevron_right"></use></svg></a></li>
        <li><a href="#">Помолвочные кольца <svg><use xlink:href="#chevron_right"></use></svg></a></li>
        <li><a href="#">Парные кольца <svg><use xlink:href="#chevron_right"></use></svg></a></li>
        <li><a href="#">Подобрать подарок <svg><use xlink:href="#chevron_right"></use></svg></a></li>
      </ul>
      <div class="help-block">
        <p class="help-block__intro">Нужна помощь?</p>
        <p class="help-block__title">Позвоните нам</p>
        <p class="help-block__phone"><a href="tel:+78008888888">8 800 888 88 88</a></p>
        <p class="help-block__support"><a href="#">Клиентская поддержка</a></p>
      </div>
      <div class="socials">
        <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Instagram"><svg><use xlink:href="#inst_stroke"></use></svg></a>
        <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Vkontakte"><svg><use xlink:href="#vk_stroke"></use></svg></a>
        <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Facebook"><svg><use xlink:href="#fb_stroke"></use></svg></a>
      </div>
    </div>
  </div>-->

  <div class="small-cart popover popover--at_right" tabindex="0">
    <button class="js-popover-closer popover__closer" type="button" title="Закрыть"><svg><use xlink:href="#close"></use></svg> <span>Закрыть</span></button>
    <div class="popover__inner">
      <p class="small-cart__accaunt-title">Добро пожаловать в&nbsp;ваш&nbsp;аккаунт,<br> Валерия!</p>
      <p class="small-cart__title">Ваша корзина</p>
      <div class="small-cart__list-block">
        <div class="small-cart__list-item">
          <div class="sc-item">
            <button class="sc-item__delete" type="button" title="Удалить"><svg><use xlink:href="#close"></use></svg></button>
            <p class="sc-item__row">
              <span class="sc-item__articul">921657Б</span>
              <span class="sc-item__size">размер 16</span>
            </p>
            <a class="sc-item__link" href="detail.html">
              <span class="sc-item__image-block">
                <img src="images/content/sc-item/img.jpg" srcset="images/content/sc-item/img@2x.jpg 2x" alt="Кольцо с бриллиантами и изумрудами из комбинированного золота">
              </span>
              <span class="sc-item__title">Кольцо с бриллиантами и изумрудами из комбинированного золота</span>
              <span class="sc-item__pseudo-link">подробнее <svg><use xlink:href="#chevron_right"></use></svg></span>
            </a>
            <p class="sc-item__row">
              <span class="sc-item__price">41 600 руб.</span>
            </p>
          </div>
        </div>
        <div class="small-cart__list-item">
          <div class="sc-item">
            <button class="sc-item__delete" type="button" title="Удалить"><svg><use xlink:href="#close"></use></svg></button>
            <p class="sc-item__row">
              <span class="sc-item__articul">921657Б</span>
              <span class="sc-item__size">размер 16</span>
            </p>
            <a class="sc-item__link" href="detail.html">
              <span class="sc-item__image-block">
                <img src="images/content/sc-item/img.jpg" srcset="images/content/sc-item/img@2x.jpg 2x" alt="Кольцо с бриллиантами и изумрудами из комбинированного золота">
              </span>
              <span class="sc-item__title">Кольцо с бриллиантами и изумрудами из комбинированного золота</span>
              <span class="sc-item__pseudo-link">подробнее <svg><use xlink:href="#chevron_right"></use></svg></span>
            </a>
            <p class="sc-item__row">
              <span class="sc-item__price">41 600 руб.</span>
            </p>
          </div>
        </div>
        <div class="small-cart__list-item">
          <div class="sc-item">
            <button class="sc-item__delete" type="button" title="Удалить"><svg><use xlink:href="#close"></use></svg></button>
            <p class="sc-item__row">
              <span class="sc-item__articul">921657Б</span>
              <span class="sc-item__size">размер 16</span>
            </p>
            <a class="sc-item__link" href="detail.html">
              <span class="sc-item__image-block">
                <img src="images/content/sc-item/img.jpg" srcset="images/content/sc-item/img@2x.jpg 2x" alt="Кольцо с бриллиантами и изумрудами из комбинированного золота">
              </span>
              <span class="sc-item__title">Кольцо с бриллиантами и изумрудами из комбинированного золота</span>
              <span class="sc-item__pseudo-link">подробнее <svg><use xlink:href="#chevron_right"></use></svg></span>
            </a>
            <p class="sc-item__row">
              <span class="sc-item__price">41 600 руб.</span>
            </p>
          </div>
        </div>
        <div class="small-cart__list-item">
          <div class="sc-item">
            <button class="sc-item__delete" type="button" title="Удалить"><svg><use xlink:href="#close"></use></svg></button>
            <p class="sc-item__row">
              <span class="sc-item__articul">921657Б</span>
              <span class="sc-item__size">размер 16</span>
            </p>
            <a class="sc-item__link" href="detail.html">
              <span class="sc-item__image-block">
                <img src="images/content/sc-item/img.jpg" srcset="images/content/sc-item/img@2x.jpg 2x" alt="Кольцо с бриллиантами и изумрудами из комбинированного золота">
              </span>
              <span class="sc-item__title">Кольцо с бриллиантами и изумрудами из комбинированного золота</span>
              <span class="sc-item__pseudo-link">подробнее <svg><use xlink:href="#chevron_right"></use></svg></span>
            </a>
            <p class="sc-item__row">
              <span class="sc-item__price">41 600 руб.</span>
            </p>
          </div>
        </div>
      </div>
      <a class="small-cart__button btn btn--type_1" href="cart.html">Перейти к оформлению</a>

      <a class="small-cart__button btn btn--type_2" href="cart.html">Вернуться к покупкам</a>

      <div class="help-block">
        <p class="help-block__intro">Нужна помощь?</p>
        <p class="help-block__title">Позвоните нам</p>
        <p class="help-block__phone"><a href="tel:+78008888888">8 800 888 88 88</a></p>
        <p class="help-block__support"><a href="#">Клиентская поддержка</a></p>
      </div>
    </div>
  </div>
</div>
