<div class="shade">
  <div class="locations popover">
    <button class="js-popover-closer popover__closer" type="button" title="Закрыть"><svg><use xlink:href="#close"></use></svg> <span>Закрыть</span></button>
    <div class="popover__inner">
      <button class="locations__aim" type="button"><svg><use xlink:href="#aim"></use></svg>Определить город автоматически</button>
      <form class="locations__form" action="">
        <input class="locations__form-input input" type="text" placeholder="Выберите город">
        <button class="locations__form-submit" type="button"><span>Изменить</span></button>
      </form>
      <p class="locations__list-title">Адреса магазинов в твоём городе:</p>
      <div class="locations__list">
        <a class="locations__item" href="#">
          <span class="locations__item-title">Санкт-Петербург, ул. Чайковского, дом 22</span>
          <span class="locations__item-address">Режим работы: с 12:00 до 21:00</span>
        </a>
        <a class="locations__item" href="#">
          <span class="locations__item-title">Санкт-Петербург, пр. Дальневосточный, 12</span>
          <span class="locations__item-address">Режим работы: с 12:00 до 21:00</span>
        </a>
        <a class="locations__item" href="#">
          <span class="locations__item-title">Санкт-Петербург, пр. Светлановский, 109</span>
          <span class="locations__item-address">Режим работы: с 12:00 до 21:00</span>
        </a>
        <a class="locations__item" href="#">
          <span class="locations__item-title">Санкт-Петербург, Пражская, д. 48/50</span>
          <span class="locations__item-address">Режим работы: с 11:00 до 21:00</span>
        </a>
      </div>
      <div class="locations__contacts-block">
        <p class="locations__contacts-title">Позвонить нам</p>
        <p class="locations__phone-link"><a href="tel:+78008888888">8 800 888 88 88</a></p>
        <div class="socials">
          <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Instagram"><svg><use xlink:href="#inst_stroke"></use></svg></a>
          <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Vkontakte"><svg><use xlink:href="#vk_stroke"></use></svg></a>
          <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Facebook"><svg><use xlink:href="#fb_stroke"></use></svg></a>
        </div>
      </div>
    </div>
  </div>
</div>
