.catalog-section
  @media(min-width: 1024px)
    padding-top: 40px

  &:not(:last-child)
    padding-bottom: 50px

    @media(min-width: 1024px)
      padding-bottom: 80px

    @media(min-width: 1350px)
      padding-bottom: 160px

  &__title-block
    margin-bottom: 40px
    padding-left: 30px
    padding-right: 30px

    @media(min-width: 768px)
      align-items: center
      display: flex
      justify-content: space-between

  &__title
    color: $color_grey
    font-family: $primary_font
    font-size: 13px
    font-weight: 700
    letter-spacing: 2px
    margin-bottom: 0
    text-transform: uppercase

    @media(min-width: 768px)
      font-size: 18px

    &--big
      color: $color_darkblue

      @media(min-width: 1350px)
        font-size: 26px
        letter-spacing: 5px

  &__title-search
    color: $color_darkblue

  &__title-qnt
    color: $color_grey
    font-weight: 500
    letter-spacing: 2px
    vertical-align: baseline

    @media(min-width: 768px)
      font-size: 13px

    @media(min-width: 1350px)
      font-size: 16px

  &__pages
    color: $color_grey
    display: none
    font-size: 13px
    font-weight: 500
    margin-bottom: 0

    @media(min-width: 768px)
      display: block

    @media(min-width: 1350px)
      font-size: 16px

.filter
  margin-bottom: 40px

  @media(min-width: 1900px)
    margin-bottom: 65px

  &__inner
    background-color: #fff
    box-shadow: none
    transition: box-shadow 0.3s

    &.scrolled
      @media(min-width: 1024px)
        background-color: #fff
        box-shadow: 0 0 3px 0 rgba($color_grey, 0.3)
        left: 0
        position: fixed
        right: 0
        top: 117px
        z-index: 3

      @media(min-width: 1900px)
        top: 175px

  &__container
    align-items: flex-start
    display: flex
    justify-content: center

    @media(min-width: 1024px)
      position: relative

  &__opener
    align-items: center
    border: 1px solid $color_grey
    background-color: transparent
    color: $color_grey
    cursor: pointer
    display: flex
    font-size: 10px
    font-weight: 400
    height: 50px
    justify-content: center
    letter-spacing: 2px
    margin-left: 5px
    margin-right: 5px
    padding: 0
    text-transform: uppercase
    width: 150px

    @media(min-width: 1024px)
      display: none

    span
      margin-left: 10px
      margin-right: 10px

    svg
      fill: $color_grey

      &:first-child
        height: 16px
        width: 16px

      &:last-child
        height: 10px
        width: 10px

  &__filter
    border-top: 1px solid rgba($color_grey, 0.3)
    background-color: #fff
    cursor: initial
    display: none
    height: calc(100% - 77px)
    left: 0
    position: fixed
    top: 77px
    width: 100%
    z-index: 10
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

    @media(min-width: 1024px)
      border-top: none
      background-color: transparent
      display: block
      height: auto
      left: auto
      position: static
      padding-left: 0
      padding-right: 0
      top: auto
      z-index: auto

    .filter__reset-block
      @media(min-width: 1024px)
        display: none

    &.is-open
      display: flex

      @media(min-width: 1024px)
        display: block

  &__filter-inner
    display: flex
    flex-direction: column
    height: 100%
    overflow-y: auto
    padding-left: 30px
    padding-right: 30px

    @media(min-width: 1024px)
      flex-direction: row
      height: auto
      overflow-y: visible
      padding-left: 0
      padding-right: 0

    &::after
      display: block
      content: ''
      min-height: 50px

      @media(min-width: 1024px)
        display: none

  &__closer
    align-items: center
    border: none
    border-right: 1px solid rgba($color_grey, 0.3)
    background-color: #fff
    color: $color_darkblue
    cursor: pointer
    display: flex
    font-size: 13px
    font-weight: 500
    height: 76px
    justify-content: center
    letter-spacing: 3px
    left: 0
    top: -77px
    position: absolute
    padding: 0
    text-transform: uppercase
    transition: color 0.3s
    width: 84px
    z-index: 1

    @media(min-width: 1024px)
      display: none

    &:hover,
    &:focus
      color: $color_lightblue

      svg
        fill: $color_lightblue

    &:active
      color: $color_grey

      svg
        fill: $color_grey

    svg
      fill: $color_grey
      height: 13px
      transition: fill 0.3s
      width: 13px

  &__title
    font-size: 13px
    font-weight: 700
    letter-spacing: 1px
    margin-bottom: 30px
    margin-top: 50px
    text-transform: uppercase
    text-align: center

    @media(min-width: 1024px)
      display: none

    @media(min-width: 1900px)
      align-items: center
      border-top: 1px solid rgba($color_gold, 0.3)
      border-bottom: 1px solid rgba($color_gold, 0.3)
      border-right: 1px solid rgba($color_gold, 0.3)
      display: flex
      font-size: 10px
      font-weight: 500
      height: 50px
      justify-content: center
      margin: 0
      padding-left: 15px
      padding-right: 15px

    @media(min-width: 1350px)
      font-size: 14px
      height: 80px

    @media(min-width: 1900px)
      height: 100px
      padding-left: 30px
      padding-right: 30px

    &::after
      @media(min-width: 1024px)
        content: ':'

    svg
      display: none
      fill: $color_darkblue
      height: 16px
      margin-right: 10px
      width: 16px

      @media(min-width: 1024px)
        display: block

  &__section
    margin-bottom: 15px

    @media(min-width: 1024px)
      flex-grow: 1
      margin-bottom: 0

  &__section-toggler
    align-items: center
    border: none
    border-top: 1px solid transparent
    border-bottom: 1px solid transparent
    background-color: transparent
    color: $color_darkblue
    cursor: pointer
    display: flex
    font-size: 13px
    font-weight: 500
    justify-content: space-between
    letter-spacing: 2px
    padding: 8px 0 9px
    transition: color 0.3s, border-color 0.3s
    text-transform: uppercase
    width: 100%

    @media(min-width: 1024px)
      border-top-color: rgba($color_gold, 0.3)
      border-bottom-color: rgba($color_gold, 0.3)
      border-right: 1px solid rgba($color_gold, 0.3)
      height: 50px
      letter-spacing: 0
      justify-content: center
      position: relative
      padding-left: 10px
      padding-right: 10px
      text-transform: none

    @media(min-width: 1350px)
      font-size: 16px
      height: 80px

    @media(min-width: 1900px)
      height: 100px

    &::after
      @media(min-width: 1024px)
        background-color: transparent
        bottom: -1px
        content: ''
        height: 4px
        left: 0
        position: absolute
        top: auto
        transition: background-color 0.3s
        width: 100%
        z-index: 1

    &:hover,
    &:focus
      &::after
        @media(min-width: 1024px)
          background-color: $color_darkblue

    &.is-active
      border-color: rgba($color_grey, 0.3)
      color: $color_lightblue

      @media(min-width: 1024px)
        border-color: rgba($color_gold, 0.3)

      &::after
        @media(min-width: 1024px)
          background-color: $color_darkblue

      svg
        fill: $color_lightblue
        transform: rotate(-180deg)

    svg
      fill: $color_darkblue
      height: 16px
      transition: fill 0.3s
      width: 16px

      @media(min-width: 1024px)
        height: 10px
        margin-left: 10px
        margin-top: 4px
        width: 10px

  &__section-toggler-qnt
    align-items: center
    background-color: $color_gold
    border-radius: 50%
    color: #fff
    display: none
    font-size: 12px
    font-weight: 700
    height: 19px
    justify-content: center
    line-height: 1
    min-width: 19px
    margin-right: 10px
    width: 19px

    @media(min-width: 1024px)
      display: flex

  &__section-dropdown
    display: none
    padding-top: 10px

    &.is-active
      @media(min-width: 1024px)
        background-color: #fff
        display: block
        left: auto
        position: absolute
        padding: 30px
        padding-bottom: 90px
        top: 100%
        width: 100%
        z-index: 5

      @media(min-width: 1900px)
        padding-top: 40px
        //padding-bottom: 40px

      &::after
        background-color: #fff
        box-shadow: 0 0 3px 0 rgba($color_grey, 0.3)
        content: ''
        height: 100%
        left: -100%
        position: absolute
        top: 0
        width: 200vw
        z-index: -1

  &__option
    cursor: pointer
    font-size: 13px
    font-weight: 500
    display: block
    line-height: 1
    padding-top: 10px
    padding-bottom: 10px

    input[type="checkbox"],
    input[type="radio"]
      position: absolute
      height: 1px
      overflow: hidden
      clip: rect(0 0 0 0)
      width: 1px

      &:focus ~ .filter__option-text
        color: $color_lightblue


      &:checked ~ .filter__option-text
        color: $color_lightblue

        .filter__option-icon
          border-color: $color_lightblue

          &::after
            background-color: $color_lightblue
            border-radius: 50%
            content: ''
            height: 7px
            left: 50%
            position: absolute
            top: 50%
            transform: translate(-50%, -50%)
            width: 7px
            z-index: 1

  &__option-icon
    border-radius: 50%
    border: 1px solid $color_grey
    height: 10px
    left: 0
    position: absolute
    top: 3px
    width: 10px
    z-index: 1

  &__option-text
    color: $color_grey
    padding-left: 25px
    position: relative

  &__sizes
    display: flex
    flex-wrap: wrap
    padding-top: 10px

    @media(min-width: 1024px)
      max-width: 350px
      margin-bottom: 0
      padding-top: 0

  &__size
    cursor: pointer
    font-size: 12px
    font-weight: 700
    height: 40px
    margin-right: 8px
    margin-bottom: 8px
    position: relative
    width: 40px

    input[type="checkbox"],
    input[type="radio"]
      position: absolute
      height: 1px
      overflow: hidden
      clip: rect(0 0 0 0)
      width: 1px

      &:checked + span
        background-color: $color_darkblue
        border-color: $color_darkblue
        color: #fff

    span
      align-items: center
      border: 1px solid $color_grey
      color: $color_grey
      display: flex
      justify-content: center
      height: 40px
      width: 40px

  &__slider
    max-width: 325px

    &:not(:last-child)
      margin-bottom: 30px

      @media(min-width: 1900px)
        margin-bottom: 50px

  &__slider-inner
    display: flex

    &::after,
    &::before
      font-size: 12px
      font-weight: 500
      padding-top: 7px

    &::before
      content: 'min'
      padding-right: 12px

    &::after
      content: 'max'
      padding-left: 12px

    .irs--round
      flex-grow: 1

  &__price-options
    @media(min-width: 1350px)
      display: flex

  &__price-options-col
    &:not(:last-child)
      @media(min-width: 1350px)
        padding-right: 30px

      @media(min-width: 1900px)
        padding-right: 50px

  &__sort
    border: 1px solid $color_grey
    cursor: pointer
    display: block
    height: 50px
    margin-left: 5px
    margin-right: 5px
    position: relative
    width: 150px

    @media(min-width: 1024px)
      align-items: center
      border-left: none
      border-right: none
      border-top: 1px solid rgba($color_gold, 0.3)
      border-bottom: 1px solid rgba($color_gold, 0.3)
      display: flex
      margin-left: 0
      margin-right: 0
      min-width: 310px
      width: auto

    @media(min-width: 1350px)
      height: 80px
      min-width: 370px

    @media(min-width: 1900px)
      height: 100px

    .select2-container
      display: block
      width: auto !important

      & + .select2-container
        left: auto !important
        min-width: 100%
        right: 0
        width: auto !important

    .selection
      display: block
      height: 48px

      @media(min-width: 1350px)
        height: 78px

      @media(min-width: 1900px)
        height: 98px

    .select2-container--default .select2-selection--single
      border: none
      height: 48px

      @media(min-width: 1024px)
        padding-left: 140px

      @media(min-width: 1350px)
        height: 78px
        padding-left: 170px

      @media(min-width: 1900px)
        height: 98px

    .select2-container--default .select2-selection--single .select2-selection__placeholder
      color: $color_grey
      display: block
      font-size: 10px
      font-weight: 400
      letter-spacing: 2px
      text-align: center

      @media(min-width: 1024px)
        display: none

    .select2-container--default .select2-selection--single .select2-selection__rendered
      font-size: 10px
      line-height: 48px
      padding-left: 10px
      padding-right: 15px

      @media(min-width: 1024px)
        font-size: 13px
        font-weight: 500
        padding-right: 25px
        text-transform: none

      @media(min-width: 1350px)
        font-size: 16px
        line-height: 78px

      @media(min-width: 1900px)
        line-height: 98px

    .select2-container--default .select2-selection--single .select2-selection__arrow
      height: 10px
      right: 5px
      top: 19px
      width: 10px

      @media(min-width: 1024px)
        top: 21px

      @media(min-width: 1350px)
        right: 7px
        top: 36px

      @media(min-width: 1900px)
        top: 46px

    .select2-container--default .select2-selection--single .select2-selection__arrow b
      background-image: url("data:image/svg+xml,%3Csvg height='10' width='10' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236f7d9d'%3E%3Cpath d='M8,12.1L0.6,4.7C0.4,4.5,0.4,4.2,0.6,4s0.5-0.2,0.7,0L8,10.7L14.7,4c0.2-0.2,0.5-0.2,0.7,0s0.2,0.5,0,0.7L8,12.1z'/%3E%3C/svg%3E%0A")
      height: 10px
      width: 10px

    .select2-container--default .select2-results
      font-size: 10px

      @media(min-width: 1350px)
        font-size: 14px

    .select2-container--default .select2-results > .select2-results__options
      max-height: initial
      overflow: visible

    .select2-results__option
      padding-left: 10px
      padding-right: 10px
      white-space: nowrap

    .select2-container--open .select2-dropdown--below
      min-width: 100%
      width: auto !important

    .select2-container--open .select2-dropdown
      left: auto
      right: 0
      z-index: 2

      @media(min-width: 1024px)
        border-color: rgba($color_gold, 0.3)

  &__sort-title
    display: none
    font-size: 13px
    font-weight: 400
    text-transform: uppercase

    @media(min-width: 1024px)
      display: block
      left: 10px
      pointer-events: none
      position: absolute
      top: 50%
      transform: translateY(-50%)
      z-index: 1

    @media(min-width: 1350px)
      font-size: 16px
      left: 15px

  &__reset-block
    &--outer
      display: none
      padding-left: 30px
      padding-right: 30px

      @media(min-width: 1024px)
        align-items: center
        display: flex
        flex-wrap: wrap

  &__reset
    align-items: center
    border: none
    background-color: transparent
    color: $color_grey
    cursor: pointer
    display: flex
    font-size: 13px
    font-weight: 500
    margin-right: 20px
    padding: 15px 0
    transition: color 0.3s

    @media(min-width: 1350px)
      margin-right: 40px

    &:hover,
    &:focus
      color: $color_darkblue

      svg
        fill: $color_darkblue

    &:last-child
      margin-right: 0

    svg
      fill: $color_grey
      height: 7px
      margin-top: 4px
      margin-left: 10px
      transition: fill 0.3s
      width: 7px

    &--all
      text-transform: uppercase

      @media(min-width: 1350px)
        margin-right: 75px

      svg
        height: 11px
        margin-top: 1px
        width: 11px

  &__apply-block
    margin-top: 20px
    text-align: center

    @media(min-width: 1024px)
      left: 0
      position: fixed
      right: 0

  &__apply
    align-items: center
    background-color: $color_darkblue
    border: 1px solid $color_darkblue
    border-radius: 0
    box-shadow: none
    color: #fff
    cursor: pointer
    display: inline-flex
    font-family: 'Lato', Arial, sans-serif
    font-size: 13px
    font-weight: 500
    justify-content: center
    line-height: 16px
    letter-spacing: 2px
    min-height: 50px
    padding: 7px 16px 6px
    text-decoration: none
    text-align: center
    transition: background-color 0.3s, color 0.3s, border-color 0.3s
    text-transform: uppercase
    vertical-align: middle

    &:hover,
    &:focus
      background-color: $color_lightblue
      border-color: $color_lightblue
      color: #fff

    &:active
      background-color: $color_grey
      border-color: $color_grey

    &:disabled,
    &.disabled
      background-color: rgba($color_grey, 0.5)
      border-color: transparent
      color: #fff
      cursor: default

.catalog-list
  &.open-filter
    cursor: url('../images/icons/cursor.svg') 38 38, pointer
    position: relative

    &::after
      background-color: rgba($color_darkblue, 0.25)
      bottom: 0
      content: ''
      left: 0
      position: absolute
      right: 0
      top: 0
      z-index: 1

  &__list
    display: grid
    grid-template-columns: repeat(2,1fr)
    grid-row-gap: 40px
    grid-column-gap: 10px
    grid-auto-flow: dense
    margin-left: auto
    margin-right: auto
    max-width: 1370px
    padding-left: 30px
    padding-right: 30px

    @media(min-width: 768px)
      grid-template-columns: repeat(4,1fr)

    @media(min-width: 1350px)
      grid-column-gap: 30px

    @media(min-width: 1900px)
      grid-column-gap: 80px
      grid-row-gap: 80px
      max-width: 1760px

  &__item
    &--banner
      grid-column: auto/span 2
      grid-row: auto/span 2

      @media(min-width: 768px)
        display: flex

.catalog-banner
  display: block
  margin-left: -30px
  margin-right: -30px
  position: relative
  text-decoration: none

  @media(min-width: 768px)
    display: flex
    margin-left: 0
    margin-right: 0

  &:hover,
  &:focus
    img
      transform: scale(1.02)

  picture,
  img
    display: flex
    width: 100%

  picture
    overflow: hidden

  img
    object-fit: cover
    transition: transform 0.3s

  &__inner
    display: block
    padding: 25px 30px

    @media(min-width: 768px)
      background-color: rgba($color_grey, 0.6)
      bottom: 0
      left: 0
      max-width: 420px
      position: absolute

    @media(min-width: 1024px)
      left: 25px

    @media(min-width: 1350px)
      padding: 30px 40px

    @media(min-width: 1900px)
      padding: 40px 60px

    &--pos_top
      @media(min-width: 768px)
        bottom: auto
        top: 0

  &__title
    display: block
    font-family: $secondary_font
    font-size: 24px
    font-weight: 700
    letter-spacing: 1px
    margin-bottom: 15px

    @media(min-width: 768px)
      color: #fff
      font-family: $primary_font
      text-transform: uppercase

    @media(min-width: 1024px)
      font-size: 26px
      letter-spacing: 2px

  &__text
    display: block

    @media(min-width: 768px)
      color: #fff
      font-weight: 500

    @media(min-width: 1024px)
      font-size: 16px

.more-block
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='19' viewBox='0 0 16 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.882 10.125L8.02854 16.9785L1.17505 10.125M14.7968 1.58205L7.94334 8.43554L1.08984 1.58205' stroke='%2308205C' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A")
  background-repeat: no-repeat
  background-position: 50% 0
  margin-top: 80px
  padding-top: 65px
  text-align: center

  @media(min-width: 1900px)
    margin-top: 160px

  .btn
    max-width: 312px
    width: 100%

    @media(min-width: 1350px)
      height: 64px

    @media(min-width: 1900px)
      height: 78px

.search-empty
  color: $color_grey
  font-size: 13px
  font-weight: 500
  letter-spacing: 3px
  margin-left: auto
  margin-right: auto
  max-width: 660px
  margin-top: 50px
  margin-bottom: 80px
  padding-left: 30px
  padding-right: 30px
  text-transform: uppercase
  text-align: center

  @media(min-width: 1024px)
    font-size: 18px
    margin-bottom: 0

  @media(min-width: 1350px)
    font-size: 26px
    font-weight: 700
    letter-spacing: 5px
    margin-top: 100px

  @media(min-width: 1900px)
    margin-top: 150px

  &__request
    color: $color_darkblue

  p
    margin-bottom: 50px

    @media(min-width: 1900px)
      margin-bottom: 135px

  a
    display: inline-block
    font-size: 10px
    font-weight: 400
    padding: 10px

    @media(min-width: 1024px)
      font-size: 14px
      font-weight: 500

    @media(min-width: 1350px)
      font-size: 18px
      font-weight: 700
