.contacts
  &__top
    line-height: 1.64
    margin-bottom: 50px

    @media(min-width: 1900px)
      margin-bottom: 120px

  &__top-title
    font-size: 13px
    font-weight: 700
    letter-spacing: 2px
    text-transform: uppercase

    @media(min-width: 1024px)
      font-size: 18px
      letter-spacing: 3px
      margin-bottom: 35px

  &__container
    @media(min-width: 768px)
      display: flex

  &__left
    margin-bottom: 50px

    @media(min-width: 768px)
      margin-bottom: 0
      min-width: 350px
      padding-right: 20px
      width: 350px

    @media(min-width: 1350px)
      min-width: 505px
      max-width: 100%
      padding-right: 50px
      width: 505px

  &__left-title
    font-size: 13px
    font-weight: 700
    letter-spacing: 2px
    margin-bottom: 30px
    text-transform: uppercase

    @media(min-width: 768px)
      padding-top: 5px
      margin-bottom: 50px

    @media(min-width: 1024px)
      font-size: 18px

    @media(min-width: 1350px)
      margin-bottom: 45px

  &__location-form
    margin-bottom: 10px
    position: relative

    //@media(min-width: 1024px)
      display: flex

  &__location-input
    margin-bottom: 15px
    text-align: center

    @media(min-width: 1024px)
      flex-grow: 1
      margin-bottom: 0
      margin-right: -1px
      text-align: left

  &__location-submit
    width: 100%

    @media(min-width: 1024px)
      min-width: 146px
      width: 146px

  &__location-dropdown
    border: 1px solid $color_grey
    background-color: #fff
    font-size: 13px
    font-weight: 500
    line-height: 16px
    left: 0
    margin-top: -1px
    max-height: 200px
    overflow-y: auto
    position: absolute
    top: 100%
    width: 100%
    z-index: 2
    scrollbar-width: thin
    scrollbar-color: $color_grey rgba($color_grey, 0.3)

    &::-webkit-scrollbar
      height: 6px
      width: 6px

    &::-webkit-scrollbar-track
      background-image: linear-gradient($color_grey, $color_grey)
      background-size: 1px 100%
      background-position: 50% 0
      background-repeat: no-repeat

    &::-webkit-scrollbar-thumb
      background: $color_darkblue
      width: 6px

  &__location-option
    background-color: transparent
    border: none
    color: $color_grey
    cursor: pointer
    height: 54px
    padding: 19px 17px 18px
    text-align: left
    text-transform: uppercase
    transition: background-color 0.3s
    width: 100%

    &:not(:last-child)
      border-bottom: 1px solid $color_grey

    &:hover,
    &:focus
      background-color: rgba($color_grey, 0.1)

  &__location-noresults
    color: $color_red
    height: 54px
    margin: 0
    padding: 19px 17px 18px
    text-align: left
    text-transform: uppercase
    transition: background-color 0.3s
    width: 100%

  &__location-aim
    align-items: center
    background-color: transparent
    border: none
    color: rgba($color_grey, 0.3)
    cursor: pointer
    display: flex
    font-size: 13px
    font-weight: 500
    justify-content: center
    margin-bottom: 40px
    padding: 10px 0
    transition: color 0.3s

    @media(min-width: 1900px)
      margin-bottom: 90px

    &:hover,
    &:focus
      color: $color_grey

    &:active
      color: $color_lightblue

    svg
      fill: $color_lightblue
      height: 18px
      margin-right: 10px
      width: 18px

  &__locations-list
    @media(min-width: 768px)
      max-height: 460px
      overflow-y: auto
      scrollbar-width: thin
      scrollbar-color: $color_grey rgba($color_grey, 0.3)

    @media(min-width: 1024px)
      max-width: 540px

    &::-webkit-scrollbar
      height: 6px
      width: 6px

    &::-webkit-scrollbar-track
      background-image: linear-gradient($color_grey, $color_grey)
      background-size: 1px 100%
      background-position: 50% 0
      background-repeat: no-repeat

    &::-webkit-scrollbar-thumb
      background: $color_darkblue
      width: 6px

  &__locations-item
    color: $color_grey
    display: block
    font-size: 13px
    font-weight: 500
    padding-left: 50px
    position: relative
    text-decoration: none

    &:not(:last-child)
      margin-bottom: 50px

      @media(min-width: 1024px)
        margin-bottom: 85px

    &:hover,
    &:focus
      color: $color_grey

      .contacts__locations-item-title
        color: $color_lightblue
        text-decoration: underline

    &.is-active
      .contacts__locations-item-icon
        &::after
          background-color: $color_darkblue
          border-radius: 50%
          content: ''
          height: 6px
          left: 50%
          position: absolute
          top: 50%
          transform: translate(-50%, -50%)
          width: 6px

          @media(min-width: 1350px)
            height: 12px
            width: 12px

  &__locations-item-icon
    border: 1px solid $color_darkblue
    border-radius: 50%
    height: 10px
    left: 0
    position: absolute
    top: 3px
    width: 10px
    z-index: 1

    @media(min-width: 1350px)
      height: 18px
      width: 18px

  &__locations-item-title
    color: $color_darkblue
    display: block
    margin-bottom: 5px
    transition: color 0.3s

  &__right
    @media(min-width: 768px)
      flex-grow: 1
      margin-left: 0
      margin-right: 0
      width: calc(100% - 350px)

    @media(min-width: 1350px)
      width: calc(100% - 455px)

    .form
      margin-left: 0
      margin-right: 0

  &__tabs-nav
    display: flex
    margin-bottom: 35px

  &__tabs-button
    background-color: transparent
    border: none
    border-bottom: 4px solid transparent
    color: $color_grey
    cursor: pointer
    font-size: 13px
    font-weight: 700
    letter-spacing: 2px
    padding: 6px 0 11px
    transition: color 0.3s, border-bottom-color 0.3s
    text-transform: uppercase

    &:not(:last-child)
      margin-right: 20px

      @media(min-width: 1024px)
        margin-right: 60px

    &:hover,
    &:focus
      color: $color_darkblue
      border-bottom-color: $color_darkblue

    &.is-active
      border-bottom-color: $color_lightblue
      color: $color_lightblue

  &__map
    background-color: $color_grey
    height: 666px
    margin-right: -30px
    margin-left: -30px
    margin-bottom: 80px

    @media(min-width: 768px)
      margin-left: 0
      margin-right: 0

    @media(min-width: 1900px)
      height: 840px
      margin-bottom: 170px

.balloon
  color: #08205C
  font-family: 'Lato', Arial, sans-serif
  font-size: 14px
  font-weight: 500
  line-height: 1.85714
  letter-spacing: 0.35px
  max-width: 260px
  padding: 5px

  @media(min-width: 1024px)
    min-width: 490px
    max-width: 100%
    padding: 10px

  &__title
    font-size: 14px
    font-weight: 700
    margin-bottom: 10px
    margin-top: 0
    text-transform: uppercase

    @media(min-width: 1024px)
      font-size: 18px

  &__inner
    @media(min-width: 1024px)
      display: flex

  &__image
    display: none

    @media(min-width: 1024px)
      display: block
      min-width: 220px
      width: 220px

  &__info
    @media(min-width: 1024px)
      padding-left: 20px

  &__address
    margin-bottom: 10px

  &__credit
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3437 7.15172L12.344 7.15134C12.4758 6.99529 12.4561 6.7622 12.301 6.63098C12.1459 6.5003 11.9123 6.51988 11.7808 6.67501C11.7753 6.68148 11.7577 6.69972 11.7213 6.73722L11.5076 6.95696L10.2744 8.22402C10.2769 8.25253 10.2782 8.28136 10.2782 8.3105C10.2782 8.88257 9.81282 9.34772 9.24065 9.34772H7.32834C7.14376 9.34772 6.99398 9.19818 6.99398 9.01344C6.99398 8.82882 7.14373 8.67916 7.32834 8.67916H9.24065C9.44398 8.67916 9.60945 8.51369 9.60945 8.3105C9.60945 8.10541 9.44063 7.94193 9.24065 7.94193H6.57902C6.53289 7.94193 6.48726 7.93239 6.44493 7.91384M12.3437 7.15172L6.48506 7.82225M12.3437 7.15172L10.245 9.65985C9.95712 9.93423 9.58048 10.085 9.18204 10.085H6.06616C5.73495 10.085 5.421 10.2118 5.18308 10.4416L5.05461 10.5656L3.3411 8.85266M12.3437 7.15172L3.21716 8.87016M6.44493 7.91384L6.48506 7.82225M6.44493 7.91384C6.44495 7.91385 6.44497 7.91386 6.44499 7.91387L6.48506 7.82225M6.44493 7.91384C6.13195 7.77698 5.79853 7.70755 5.45321 7.70755C4.51189 7.70755 3.75907 8.12378 3.3411 8.85266M6.48506 7.82225C6.1593 7.67979 5.81221 7.60755 5.45321 7.60755C4.45159 7.60755 3.64631 8.06532 3.21716 8.87016M3.3411 8.85266L3.28786 8.79944L3.21716 8.87016M3.3411 8.85266C3.32892 8.87391 3.31701 8.89543 3.3054 8.91721L3.21716 8.87016M7.19792 4.46903C7.31555 4.60889 7.45349 4.7146 7.60323 4.77863V4.98328C7.60323 5.16802 7.75301 5.31756 7.93759 5.31756C8.12217 5.31756 8.27194 5.16802 8.27194 4.98328V4.77592C8.54813 4.64897 8.74075 4.36987 8.74075 4.04605C8.74075 3.60316 8.38054 3.24311 7.93759 3.24311C7.86357 3.24311 7.80323 3.18275 7.80323 3.10883C7.80323 3.03485 7.86362 2.97445 7.93759 2.97445C7.98602 2.97445 8.05006 2.99965 8.12155 3.06881L8.12156 3.06883C8.2543 3.19722 8.46593 3.19368 8.59434 3.06113L8.59438 3.06109C8.72283 2.92837 8.71928 2.71676 8.58667 2.58837L8.58664 2.58834C8.48091 2.48606 8.37367 2.41869 8.27194 2.37548V2.1716C8.27194 1.98691 8.12222 1.83723 7.93759 1.83723C7.75296 1.83723 7.60323 1.98691 7.60323 2.1716V2.37895C7.32703 2.50583 7.13443 2.78495 7.13443 3.10883C7.13443 3.55162 7.49463 3.91177 7.93759 3.91177C8.01161 3.91177 8.07195 3.97213 8.07195 4.04605C8.07195 4.11998 8.01161 4.18034 7.93759 4.18034C7.87911 4.18034 7.79636 4.14176 7.70983 4.03877L7.70979 4.03871C7.59088 3.89738 7.38003 3.87926 7.23871 3.99795L7.23867 3.99799C7.09734 4.11681 7.07899 4.32766 7.19792 4.46903ZM7.19792 4.46903L7.27445 4.40467M7.19792 4.46903C7.19792 4.46904 7.19792 4.46904 7.19793 4.46904L7.27445 4.40467M7.27445 4.40467C7.19111 4.30561 7.20393 4.15784 7.30302 4.07453L8.17195 4.98328C8.17195 5.11274 8.06699 5.21756 7.93759 5.21756C7.80818 5.21756 7.70323 5.11274 7.70323 4.98328V4.70981C7.54709 4.65744 7.39973 4.55362 7.27445 4.40467ZM11.2787 6.23336L9.97187 7.57613C9.78175 7.38762 9.52065 7.27327 9.24065 7.27327H6.64691C6.26812 7.11769 5.86677 7.03899 5.4533 7.03899C4.31615 7.03899 3.31226 7.55474 2.75623 8.52857C2.52402 8.50631 2.28733 8.58603 2.11269 8.76062L2.11259 8.76072L0.997585 9.87868L0.997582 9.87868C0.86768 10.0089 0.867447 10.2196 0.997039 10.3502L0.997055 10.3503L3.62872 13.0012C3.62873 13.0012 3.62873 13.0012 3.62874 13.0012C3.75833 13.1318 3.96933 13.1332 4.10066 13.0039L4.03049 12.9326L4.10066 13.0039L5.23701 11.8847L5.23754 11.8842C5.44254 11.6793 5.51464 11.3839 5.4468 11.1162L5.64753 10.9227L5.64759 10.9227C5.76055 10.8136 5.90891 10.7536 6.06616 10.7536H9.18204C9.75974 10.7536 10.3062 10.5321 10.7207 10.1301C10.7243 10.127 10.7273 10.124 10.7299 10.1212C10.7343 10.1165 10.741 10.1087 10.7524 10.0952C10.777 10.0662 10.8315 10.0011 10.9555 9.85284C11.0008 9.79864 11.0555 9.7333 11.1214 9.65451C11.4163 9.30195 11.9364 8.68005 12.8556 7.58181C13.2248 7.14497 13.1694 6.4895 12.7323 6.12007L12.7321 6.11997C12.2984 5.75453 11.6493 5.80624 11.2787 6.23336ZM2.75275 9.2146L2.75329 9.21493L2.75926 9.21844L2.75928 9.21845C2.76117 9.22008 2.76562 9.22404 2.77449 9.2325C2.80106 9.25782 2.855 9.31146 2.97509 9.43163C3.0223 9.47889 3.07958 9.53627 3.14923 9.60603C3.43232 9.8896 3.9196 10.3777 4.76475 11.2214C4.8182 11.2749 4.81533 11.3606 4.7662 11.4099C4.76613 11.41 4.76606 11.4101 4.76599 11.4102L3.86873 12.2938L1.70602 10.1153L2.5858 9.23321C2.58583 9.23318 2.58587 9.23314 2.5859 9.23311C2.63019 9.18892 2.69775 9.18061 2.75275 9.2146ZM5.30632 3.5774C5.30632 5.05382 6.50769 6.25488 7.98451 6.25488C9.46133 6.25488 10.6627 5.05382 10.6627 3.5774C10.6627 2.10096 9.46133 0.9 7.98451 0.9C6.5077 0.9 5.30632 2.10096 5.30632 3.5774ZM9.994 3.5774C9.994 4.68495 9.09249 5.58622 7.98451 5.58622C6.87654 5.58622 5.97503 4.68495 5.97503 3.5774C5.97503 2.46994 6.87653 1.56866 7.98451 1.56866C9.09249 1.56866 9.994 2.46994 9.994 3.5774Z' fill='%2308205C'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat
    background-position: 0 50%
    font-size: 13px
    padding-left: 20px

  &__work-time
    color: $color_grey

  &__way
    @media(min-width: 1350px)
      display: none

    a
      align-items: center
      border: 1px solid $color_darkblue
      color: $color_darkblue
      display: flex
      height: 40px
      justify-content: center
      text-transform: uppercase
      text-decoration: none
      transition: background-color 0.3s, color 0.3s

      &:hover
        background-color: $color_darkblue
        color: #fff

[class*="ymaps-2-1"][class*="-ground-pane"]
  filter: grayscale(1)
