.footer
  background-image: url("data:image/svg+xml,%3Csvg width='481' height='12' viewBox='0 0 481 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M64.1235 0.822513L96.1065 11.3442L128.09 0.822513L160.087 11.3442L192.07 0.822513L224.053 11.3442L256.036 0.822513L288.019 11.3442L320.002 0.822513L351.985 11.3442L383.968 0.822513L415.951 11.3442L447.934 0.822513L479.788 11.299L480.06 10.7684L447.934 0.212891L415.951 10.7232L383.968 0.212891L351.985 10.7232L320.002 0.212891L288.019 10.7232L256.036 0.212891L224.053 10.7232L192.07 0.212891L160.087 10.7232L128.09 0.212891L96.1065 10.7232L64.1235 0.212891L32.1261 10.7232L0.271892 0.258048L0 0.777356L32.1261 11.3442L64.1235 0.822513Z' fill='%236F7D9D' fill-opacity='0.1'/%3E%3C/svg%3E%0A")
  background-position: 0 0
  background-repeat: repeat
  background-color: #041A44
  color: #fff
  flex-shrink: 0
  padding-top: 65px
  padding-bottom: 60px

  @media(min-width: 1024px)
    padding-bottom: 0

  .container
    max-width: 1640px

  &__top
    margin-bottom: 80px

  &__logo
    margin-left: auto
    margin-right: auto
    margin-bottom: 55px
    width: 36px

    @media(min-width: 1024px)
      width: 50px

  &__subscribe
    margin-left: auto
    margin-right: auto
    max-width: 494px
    text-align: center

    form
      max-width: 320px
      margin-left: auto
      margin-right: auto
      position: relative

  &__subscribe-title
    font-family: $secondary_font
    font-size: 30px
    font-weight: 700
    letter-spacing: 4px
    line-height: 1.5
    text-transform: uppercase

    small
      font-size: 60%
      display: block

  &__subscribe-input
    background-color: transparent
    border: none
    border-bottom: 1px solid $color_grey
    color: #fff
    font-size: 11px
    font-weight: 500
    line-height: 13px
    padding: 30px 40px
    transition: border-color 0.3s
    text-align: center
    text-transform: uppercase
    width: 100%

    &:focus
      border-color: #fff
      color: #fff

    &.error
      border-color: $color_red

      &:focus
        border-color: $color_red

    &::-webkit-input-placeholder
      color: $color_grey
      opacity: 1

    &::-moz-placeholder
      color: $color_grey
      opacity: 1

    &:-ms-input-placeholder
      color: $color_grey
      opacity: 1

  &__subscribe-submit
    align-items: center
    background-color: transparent
    border: none
    cursor: pointer
    display: flex
    height: 100%
    justify-content: center
    left: auto
    opacity: 0
    padding: 0
    position: absolute
    right: 0
    top: 0
    transition: opacity 0.3s
    visibility: hidden
    width: 40px
    z-index: 1

    &:not(:disabled)
      opacity: 1
      visibility: visible

    &:hover,
    &:focus
      svg
        fill: #fff

    svg
      fill: $color_grey
      height: 20px
      transition: fill 0.3s
      width: 20px

  &__mid
    margin-bottom: 50px

    @media(min-width: 1900px)
      margin-bottom: 35px

    .container
      @media(min-width: 1024px)
        display: flex
        justify-content: space-between

  &__mid-block
    &:not(:last-child)
      margin-bottom: 25px

      @media(min-width: 1024px)
        margin-bottom: 0

    &:first-child
      margin-bottom: 55px
      text-align: center

      @media(min-width: 1024px)
        margin-bottom: 0
        text-align: left

      .footer__mid-title
        margin-bottom: 27px

  &__mid-title
    font-size: 18px
    font-weight: 700
    letter-spacing: 2px
    margin-bottom: 0
    text-transform: uppercase

    @media(min-width: 1024px)
      margin-bottom: 35px

    &.js-footer-toggler
      cursor: pointer
      position: relative

      @media(min-width: 1024px)
        cursor: initial
        pointer-events: none

      &.is-active
        &::after
          transform: translateY(-50%) rotate(-180deg)

      &::after
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.0781 1.03906L9.03944 9.07775L1.00075 1.03907' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A")
        background-position: 50% 50%
        background-repeat: no-repeat
        height: 10px
        content: ''
        left: auto
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
        width: 18px
        z-index: 1

        @media(min-width: 1024px)
          display: none

  &__contacts
    font-size: 14px
    font-weight: 500
    line-height: 27px
    margin-bottom: 27px
    text-transform: uppercase

  &__contacts-link
    align-items: center
    color: $color_grey
    display: inline-flex
    vertical-align: top
    text-decoration: none

    @media(min-width: 1024px)
      color: #fff

    &:hover,
    &:focus
      color: $color_lightblue

      svg
        fill: $color_lightblue

    &:active
      color: $color_grey

      svg
        fill: $color_grey

    svg
      display: none
      fill: #fff
      height: 30px
      margin-right: 20px
      transition: fill 0.3s
      width: 30px

      @media(min-width: 1024px)
        display: block

  &__socials
    display: flex
    margin-top: 45px
    justify-content: center

    @media(min-width: 1024px)
      justify-content: flex-start

    @media(min-width: 1900px)
      margin-top: 65px

  &__social-link
    align-items: center
    border: 1px solid $color_grey
    display: flex
    justify-content: center
    height: 84px
    width: 84px

    @media(min-width: 1024px) and (max-width: 1349px)
      height: 60px
      width: 60px

    &:not(:last-child)
      border-right: none

    &:hover,
    &:focus
      color: $color_lightblue

      svg
        fill: $color_lightblue

    &:active
      color: $color_grey

      svg
        fill: $color_grey

    svg
      fill: #fff
      height: 34px
      transition: fill 0.3s
      width: 34px

  &__menu
    display: none
    font-size: 14px
    font-weight: 500
    letter-spacing: 2px
    margin: 0
    padding-top: 25px
    padding-bottom: 25px
    padding-left: 0
    padding-right: 0
    text-transform: uppercase

    @media(min-width: 1024px)
      display: block !important
      padding-top: 0
      padding-bottom: 0

    @media(min-width: 1024px) and (max-width: 1349px)
      font-size: 12px

    li
      &:not(:last-child)
        margin-bottom: 17px

    a
      color: #fff
      text-decoration: none

      &:hover,
      &:focus
        color: $color_lightblue

      &:active
        color: $color_grey

  &__mid-logo
    margin-top: 40px
    position: relative
    text-align: center

    @media(min-width: 1900px)
      margin-top: 50px

    &::after,
    &::before
      border-top: 1px solid #fff
      bottom: 22px
      content: ''
      position: absolute
      top: auto
      width: calc(50% - 120px)
      z-index: 1

      @media(min-width: 1900px)
        bottom: 25px
        width: calc(50% - 147px)

    &::before
      left: 0

    &::after
      left: auto
      right: 0

    img
      width: 205px

      @media(min-width: 1900px)
        width: 239px

  &__bottom
    background-color: $color_darkblue

    .container
      align-items: center
      display: flex
      flex-wrap: wrap
      justify-content: center
      min-height: 54px
      padding-top: 15px
      padding-bottom: 15px
      text-align: center

      @media(min-width: 1024px)
        justify-content: space-between

  &__copyright
    font-size: 13px
    font-weight: 500
    line-height: 16px
    letter-spacing: 1px
    margin-bottom: 0
    text-transform: uppercase
    width: 100%

    @media(min-width: 1024px)
      margin-bottom: 0
      width: auto

    @media(min-width: 1350px)
      letter-spacing: 2px

  &__service-menu
    align-items: center
    display: none
    font-size: 12px

    @media(min-width: 1024px)
      display: flex

    @media(min-width: 1350px)
      letter-spacing: 1px

    li
      &:not(:last-child)
        margin-right: 30px

    a
      color: #fff
      text-decoration: none

      &:hover,
      &:focus
        color: $color_lightblue

      &:active
        color: $color_grey
