.locations
  &__aim
    align-items: center
    background-color: transparent
    border: none
    color: $color_darkblue
    cursor: pointer
    display: flex
    font-size: 13px
    font-weight: 500
    justify-content: center
    margin-left: auto
    margin-right: auto
    margin-top: 40px
    margin-bottom: 40px
    padding: 10px
    transition: color 0.3s

    @media(min-width: 1024px)
      margin-top: 0

    &:hover,
    &:focus,
    &:active
      color: $color_lightblue

      svg
        fill: $color_lightblue

    svg
      fill: $color_darkblue
      height: 18px
      margin-right: 10px
      transition: fill 0.3s
      width: 18px

  &__form
    margin-bottom: 60px
    margin-left: auto
    margin-right: auto
    max-width: 435px
    position: relative
    width: 100%

  &__form-input
    margin-bottom: 15px
    text-align: center

    @media(min-width: 1024px)
      flex-grow: 1
      margin-bottom: 0
      margin-right: -1px
      text-align: left

  &__form-submit
    width: 100%

    @media(min-width: 1024px)
      min-width: 146px
      width: 146px

  &__form-dropdown
    border: 1px solid $color_grey
    background-color: #fff
    font-size: 13px
    font-weight: 500
    line-height: 16px
    left: 0
    margin-top: -1px
    max-height: 200px
    overflow-y: auto
    position: absolute
    top: 100%
    width: 100%
    z-index: 1
    scrollbar-width: thin
    scrollbar-color: $color_grey rgba($color_grey, 0.3)

    &::-webkit-scrollbar
      height: 6px
      width: 6px

    &::-webkit-scrollbar-track
      background-image: linear-gradient($color_grey, $color_grey)
      background-size: 1px 100%
      background-position: 50% 0
      background-repeat: no-repeat

    &::-webkit-scrollbar-thumb
      background: $color_darkblue
      width: 6px

  &__form-option
    background-color: transparent
    border: none
    color: $color_grey
    cursor: pointer
    height: 54px
    padding: 19px 17px 18px
    text-align: left
    text-transform: uppercase
    transition: background-color 0.3s
    width: 100%

    &:not(:last-child)
      border-bottom: 1px solid $color_grey

    &:hover,
    &:focus
      background-color: rgba($color_grey, 0.1)

  &__form-noresults
    color: $color_red
    height: 54px
    margin: 0
    padding: 19px 17px 18px
    text-align: left
    text-transform: uppercase
    transition: background-color 0.3s
    width: 100%

  &__list-title
    color: $color_darkblue
    font-size: 13px
    font-weight: 700
    letter-spacing: 2px
    margin-bottom: 50px
    text-transform: uppercase

  &__list
    border-bottom: 1px solid rgba($color_grey, 0.3)
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0001 7.16988L6.05033 12.1196L1.10059 7.16988M10.9386 1L5.98881 5.94975L1.03906 1' stroke='%236B9CFD' stroke-linecap='round'/%3E%3C/svg%3E%0A")
    background-repeat: no-repeat
    background-position: 50% calc(100% - 40px)
    margin-bottom: 50px
    padding-bottom: 90px

    @media(min-width: 1024px)
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='19' viewBox='0 0 16 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.882 10.125L8.02854 16.9785L1.17505 10.125M14.7968 1.58205L7.94334 8.43554L1.08984 1.58205' stroke='%2308205C' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A")
      background-position: 50% calc(100% - 30px)
      border-bottom: none
      margin-bottom: 0
      padding-bottom: 115px

  &__item
    color: $color_grey
    display: block
    font-size: 13px
    font-weight: 500
    text-decoration: none
    text-align: center

    &:not(:last-child)
      margin-bottom: 50px

    &:hover,
    &:focus
      color: $color_grey

      .locations__item-title
        color: $color_lightblue
        text-decoration: underline

  &__item-title
    color: $color_darkblue
    display: block
    margin-bottom: 5px
    transition: color 0.3s

  &__contacts-title
    font-size: 18px
    font-weight: 700
    letter-spacing: 3px
    margin-bottom: 10px
    text-transform: uppercase

  &__phone-link
    font-size: 14px
    font-weight: 500
    line-height: 27px
    letter-spacing: 3px
    margin-bottom: 50px

    a
      text-decoration: none
