.shade
  background-color: rgba($color_darkblue, 0.5)
  bottom: 0
  display: none
  left: 0
  position: fixed
  right: 0
  top: 77px
  z-index: 10
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

  @media(min-width: 1024px)
    top: 0

  &.is-open
    cursor: url('../images/icons/cursor.svg') 38 38, pointer
    display: block

.popover
  border-top: 1px solid rgba($color_grey, 0.3)
  background-color: #fff
  cursor: initial
  display: none
  height: calc(100% - 77px)
  left: 0
  position: fixed
  top: 77px
  text-align: center
  width: 100%
  z-index: 10
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

  @media(min-width: 1024px)
    box-shadow: 0 4px 4px 0 rgba(#000, 0.25)
    border-top: none
    height: 100%
    top: 0
    right: auto
    width: 645px

  &.is-open
    display: flex

  &--wide
    @media(min-width: 1024px)
      width: 100%

    @media(min-width: 1350px)
      height: auto

  &--at_right
    @media(min-width: 1024px)
      left: auto
      right: 0

    .popover__closer
      @media(min-width: 1024px)
        flex-direction: row-reverse
        margin-left: auto

      span
        @media(min-width: 1024px)
          margin-left: 0
          margin-right: 10px

  &__closer
    align-items: center
    border: none
    border-right: 1px solid rgba($color_grey, 0.3)
    background-color: #fff
    color: $color_darkblue
    cursor: pointer
    display: flex
    font-size: 13px
    font-weight: 500
    height: 76px
    justify-content: center
    letter-spacing: 3px
    left: 0
    top: -77px
    position: absolute
    padding: 0
    text-transform: uppercase
    transition: color 0.3s
    width: 84px
    z-index: 1

    @media(min-width: 1024px)
      border-right: none
      position: static
      padding-left: 30px
      padding-right: 30px
      width: auto

    &:hover,
    &:focus
      color: $color_lightblue

      svg
        fill: $color_lightblue

    &:active
      color: $color_grey

      svg
        fill: $color_grey

    svg
      fill: $color_grey
      height: 20px
      transition: fill 0.3s
      width: 20px

      @media(min-width: 1024px)
        fill: $color_darkblue

    span
      display: none
      margin-left: 10px

      @media(min-width: 1024px)
        display: block

  &__inner
    display: flex
    flex-direction: column
    height: 100%
    overflow-y: auto
    padding-left: 30px
    padding-right: 30px

    @media(min-width: 1024px)
      height: calc(100% - 76px)

    &::after
      display: block
      content: ''
      min-height: 50px

  &__title
    font-size: 13px
    font-weight: 700
    letter-spacing: 2px
    margin-top: 50px
    margin-bottom: 40px
    text-transform: uppercase

    @media(min-width: 1024px)
      border-bottom: 4px solid $color_darkblue
      font-size: 18px
      letter-spacing: 3px
      margin-top: 0
      margin-bottom: 30px
      margin-left: -30px
      margin-right: -30px
      padding-bottom: 30px

  &__tabs-nav
    align-items: center
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-bottom: 50px

  &__tabs-nav-button
    background-color: transparent
    border: none
    cursor: pointer
    color: $color_grey
    font-size: 13px
    font-weight: 500
    letter-spacing: 3px
    padding: 10px
    transition: color 0.3s
    text-transform: uppercase

    &.is-active
      color: $color_darkblue
      font-weight: 700
      text-decoration: underline

  &__tab
    display: none

    &.is-active
      display: block
