.product-slider
  margin-bottom: 50px
  max-width: 350px
  margin-left: auto
  margin-right: auto

  .slick-dots
    margin-top: 30px

    @media(min-width: 1900px)
      margin-top: 50px

.product
  display: block
  max-width: 300px
  margin-left: auto
  margin-right: auto
  text-align: center
  text-decoration: none

  @media(min-width: 1900px)
    max-width: 350px

  &:hover,
  &:focus
    img
      transform: scale(1.1)

  &__image
    display: block
    margin-bottom: -15px
    overflow: hidden

    img
      transform: scale(1)
      transition: transform 0.3s

  &__title
    display: block
    font-size: 14px
    font-weight: 500
    margin-bottom: 20px
    padding-left: 30px
    padding-right: 30px
    position: relative
    text-transform: uppercase
    z-index: 1

    @media(min-width: 1900px)
      font-size: 18px
      margin-bottom: 20px

  &__prop
    display: block
    color: $color_gold
    font-size: 13px
    font-weight: 500
