.service-block
  &:not(:last-child)
    margin-bottom: 50px

    @media(min-width: 1024px)
      margin-bottom: 80px

    @media(min-width: 1350px)
      margin-bottom: 150px

    @media(min-width: 1900px)
      margin-bottom: 210px
