.shops-map
  display: none

  @media(min-width: 1024px)
    display: block

  &:last-child
    margin-bottom: -90px

    @media(min-width: 1024px)
      margin-bottom: -170px

  a,
  img
    display: block
    width: 100%
